Repository deot/vc: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "**/*.{css,scss}": [
    "stylelint --fix"
  ],
  "**/*.{js,ts,jsx,tsx,md}": [
    "eslint --fix"
  ]
}

style: table, border/background-color changed
  packages/components/modal/style.scss
  packages/components/table/examples/index.vue
  packages/components/table/style.scss
  packages/components/table/table.tsx
Due: stylelint --fix, eslint --fix

style: tabs, color & size & margin changed
  packages/components/tabs/tabs-pane.scss
  packages/components/tabs/tabs.scss
  packages/components/tabs/tabs.tsx
Due: stylelint --fix, eslint --fix

style: inline-block -> inline-flex
  packages/components/checkbox/checkbox.scss
  packages/components/date-picker/picker/base.scss
  packages/components/input/input.scss
  packages/components/radio/radio-group.scss
  packages/components/radio/radio.scss
  packages/components/select/select.scss
  packages/components/tag/style.scss
Due: stylelint --fix

style: pagination, color & margin changed
  packages/components/pagination/style.scss
Due: stylelint --fix

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/index/CHANGELOG.md
  packages/index/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  pnpm-lock.yaml
Due: eslint --fix

feat: table, row-height
  packages/components/table/examples/popup.vue
  packages/components/table/examples/popup/index.ts
  packages/components/table/examples/popup/wrapper.vue
  packages/components/table/examples/row-height.vue
  packages/components/table/table-body.tsx
  packages/components/table/table-props.ts
Due: eslint --fix

style: recycle-list-item -> resizer
  packages/components/recycle-list/item.tsx
  packages/components/recycle-list/recycle-list.tsx
  packages/components/resizer/resizer-props.ts
  packages/components/resizer/resizer.ts
  packages/components/resizer/style.scss
  packages/components/table/normal-list/normal-list.tsx
Due: stylelint --fix, eslint --fix

feat: table, selection default width & colSpan/rowSpan -> colspan/rowspan(html)
  packages/components/table/examples/max-height.vue
  packages/components/table/examples/none-height.vue
  packages/components/table/examples/row-height.vue
  packages/components/table/store/utils.ts
  packages/components/table/style.scss
  packages/components/table/table-column.tsx
Due: stylelint --fix, eslint --fix

perf: table, use store from provide
  packages/components/table/examples/max-height.vue
  packages/components/table/store/base-watcher.ts
  packages/components/table/store/store.ts
  packages/components/table/store/use-states.ts
  packages/components/table/table-body.tsx
  packages/components/table/table-column-confg.tsx
  packages/components/table/table-footer.tsx
  packages/components/table/table-header.tsx
  packages/components/table/table.tsx
Due: eslint --fix

feat: progress, text style/class
  packages/components/progress/README.md
  packages/components/progress/circle.tsx
  packages/components/progress/line.tsx
  packages/components/progress/progress-props.ts
Due: eslint --fix

feat: table, delay render when transition scene😈
  packages/components/table/README.md
  packages/components/table/examples/index.vue
  packages/components/table/examples/max-height.vue
  packages/components/table/examples/none-height.vue
  packages/components/table/examples/popup/wrapper.vue
  packages/components/table/examples/row-height.vue
  packages/components/table/table-body.tsx
  packages/components/table/table-props.ts
Due: eslint --fix

style: input, input-icon width & font-size
  packages/components/input/input.scss
Due: stylelint --fix

style: table, selection aligned
  packages/components/table/examples/index.vue
  packages/components/table/style.scss
Due: stylelint --fix

feat: textarea, initial commit
  packages/components/textarea/examples/index.vue
  packages/components/textarea/index.m.ts
  packages/components/textarea/mobile/style.scss
  packages/components/textarea/mobile/textarea.tsx
  packages/components/textarea/textarea-props.ts
  packages/components/textarea/textarea.tsx
  packages/components/textarea/use-textarea.ts
  packages/components/textarea/utils.ts
Due: stylelint --fix, eslint --fix

feat: table, showPopover -> line & primaryValue as key
  packages/components/popover/wrapper-props.ts
  packages/components/recycle-list/recycle-list.tsx
  packages/components/table/README.md
  packages/components/table/examples/max-height.vue
  packages/components/table/normal-list/normal-list.tsx
  packages/components/table/store/store.ts
  packages/components/table/style.scss
  packages/components/table/table-body.tsx
  packages/components/table/table-column-confg.tsx
  packages/components/table/table-column.tsx
  packages/components/textarea/mobile/style.scss
  packages/components/vc/options.ts
Due: stylelint --fix, eslint --fix

style: table, 10px gap consistency
  packages/components/table/style.scss
  packages/components/table/table-column-confg.tsx
Due: stylelint --fix, eslint --fix

style: text, remove 'span' & inline-block -> inline-flex
  packages/components/text/style.scss
  packages/components/text/text-props.ts
  packages/components/text/text.tsx
Due: stylelint --fix, eslint --fix

style: table, align & text(inline-block)
  packages/components/table/examples/max-height.vue
  packages/components/table/style.scss
  packages/components/text/style.scss
Due: stylelint --fix

perf: table/virtualized, revert recycle-list-item/on-change
  packages/components/recycle-list/recycle-list.tsx
  packages/components/table/examples/index.vue
  packages/components/table/normal-list/normal-list.tsx
  packages/components/table/table-body.tsx
Due: eslint --fix

style: table, tr/td/th padding
  packages/components/table/style.scss
  packages/components/table/table-column-confg.tsx
  packages/components/table/table-footer.tsx
  packages/components/table/table-header.tsx
  packages/components/table/table-props.ts
  packages/components/text/utils.ts
Due: stylelint --fix, eslint --fix

style: table, th align
  packages/components/table/style.scss
Due: stylelint --fix

feat: modal/drawer, cancelDisabled & okDisabled
  packages/components/drawer/drawer-view-props.ts
  packages/components/drawer/drawer-view.tsx
  packages/components/modal/modal-view-props.ts
  packages/components/modal/modal-view.tsx
Due: eslint --fix

perf: text, remove popover when unmounted
  packages/components/text/text.tsx
Due: eslint --fix

fix: table, number display failed
  packages/components/table/table-column-confg.tsx
Due: eslint --fix

style: table, gap changed
  packages/components/table/examples/max-height.vue
  packages/components/table/style.scss
  packages/components/table/table.tsx
Due: stylelint --fix, eslint --fix

feat: ⚠️popover/select, autoWidth inverted
  packages/components/date-picker/picker/base.tsx
  packages/components/popover/wrapper-props.ts
  packages/components/popover/wrapper.tsx
  packages/components/select/select-props.ts
Due: eslint --fix

feat: select, add scroller
  packages/components/select/select.scss
  packages/components/select/select.tsx
Due: stylelint --fix, eslint --fix

fix: image, style add
  packages/components/image/examples/index.vue
  packages/components/image/style.scss
Due: stylelint --fix

fix: select, max-height
  packages/components/select/select.scss
  packages/components/select/select.tsx
Due: stylelint --fix, eslint --fix

style: button, disabled hover
  packages/components/button/button.scss
Due: stylelint --fix

fix: table, calc column head/tail width
  packages/components/table/table-body.tsx
  packages/components/table/table-column-confg.tsx
Due: eslint --fix
