Repository deot/vc: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/index/CHANGELOG.md
  packages/index/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  pnpm-lock.yaml
Due: eslint --fix

fix: avoid shadow copy
  packages/components/date-picker/picker/base.tsx
  packages/components/scroller/scroller-wheel.tsx
  packages/components/textarea/mobile/textarea.tsx
  packages/components/textarea/textarea.tsx
Due: eslint --fix

fix: recycle-list, resize effect
  packages/components/recycle-list/recycle-list.tsx
Due: eslint --fix

feat: select, exposed toggle
  packages/components/select/select.tsx
Due: eslint --fix

chore: lodash -> lodash-es
  packages/components/package.json
  packages/components/table/store/base-watcher.ts
  packages/components/table/store/store.ts
  packages/shims.d.ts
  pnpm-lock.yaml
Due: eslint --fix

feat: select, add max-tags
  packages/components/select/README.md
  packages/components/select/examples/multiple.vue
  packages/components/select/select-props.ts
  packages/components/select/select.tsx
Due: eslint --fix

feat: divider, initial commit
  packages/components/divider/divider-props.ts
  packages/components/divider/divider.tsx
  packages/components/divider/examples/index.vue
  packages/components/divider/style.scss
Due: stylelint --fix, eslint --fix

feat: countdown, initial commit
  packages/components/countdown/README.md
  packages/components/countdown/countdown-props.ts
  packages/components/countdown/countdown.tsx
  packages/components/countdown/examples/index.vue
  packages/components/countdown/utils.ts
Due: eslint --fix

feat: rate, initial commit
  packages/components/rate/README.md
  packages/components/rate/examples/index.vue
  packages/components/rate/rate-props.ts
  packages/components/rate/rate.tsx
  packages/components/rate/style.scss
Due: stylelint --fix, eslint --fix

feat: tree, initial commit
  packages/components/tree/README.md
  packages/components/tree/examples/index.vue
  packages/components/tree/model/constant.ts
  packages/components/tree/model/index.ts
  packages/components/tree/model/tree-node.ts
  packages/components/tree/model/tree-store.ts
  packages/components/tree/style.scss
  packages/components/tree/tree-node-content-props.ts
  packages/components/tree/tree-node-content.tsx
  packages/components/tree/tree-props.ts
  packages/components/tree/tree.tsx
  packages/components/tree/types.ts
  packages/components/tree/use-collect-node.ts
  packages/components/tree/use-drag-node.ts
  packages/components/tree/use-keydown.ts
Due: stylelint --fix, eslint --fix

style: select, extract `toModelValue` & `toCurrentValue`
  packages/components/select/select.tsx
  packages/components/select/utils.ts
Due: eslint --fix

style: select, extract `toModelValue` & `toCurrentValue`
  packages/components/tree/tree-node-content.tsx
  packages/components/tree/tree-props.ts
  packages/components/tree/tree.tsx
Due: eslint --fix

feat: tree-select, initial commit
  packages/components/tree/examples/index.vue
  packages/components/tree/index.m.ts
  packages/components/tree/index.ts
  packages/components/tree/store/constant.ts
  packages/components/tree/store/index.ts
  packages/components/tree/store/tree-node.ts
  packages/components/tree/store/tree-store.ts
  packages/components/tree/style.scss
  packages/components/tree/tree-node-content.tsx
  packages/components/tree/tree-props.ts
  packages/components/tree/tree-select-props.ts
  packages/components/tree/tree-select.scss
  packages/components/tree/tree-select.tsx
  packages/components/tree/tree.scss
  packages/components/tree/tree.tsx
  packages/components/tree/types.ts
  packages/components/tree/use-collect-node.ts
  packages/components/tree/use-drag-node.ts
Due: stylelint --fix, eslint --fix

feat: tree, tree-node reactive
  packages/components/tree/examples/index.vue
  packages/components/tree/store/tree-node.ts
  packages/components/tree/store/tree-store.ts
  packages/components/tree/tree-node-content.tsx
  packages/components/tree/tree-select.tsx
  packages/components/tree/tree.tsx
  packages/components/tree/use-collect-node.ts
  packages/components/tree/use-drag-node.ts
  packages/components/tree/use-keydown.ts
Due: eslint --fix

feat: cascader, initial commit
  packages/components/cascader/cascader-props.ts
  packages/components/cascader/cascader-view-props.ts
  packages/components/cascader/cascader-view.tsx
  packages/components/cascader/cascader.scss
  packages/components/cascader/cascader.tsx
  packages/components/cascader/column.scss
  packages/components/cascader/column.tsx
  packages/components/cascader/examples/basic/big-data.js
  packages/components/cascader/examples/index.vue
  packages/components/cascader/style.scss
  packages/components/cascader/types.ts
  packages/components/cascader/utils.ts
  packages/components/select/utils.ts
Due: stylelint --fix, eslint --fix

style: tree, render -> renderNodeLabel, renderAfterExpand -> renderNodeAfterExpand
  packages/components/tree/README.md
  packages/components/tree/tree-node-content-props.ts
  packages/components/tree/tree-node-content.tsx
  packages/components/tree/tree-props.ts
  packages/components/tree/tree-select-props.ts
  packages/components/tree/tree-select.tsx
  packages/components/tree/tree.tsx
Due: eslint --fix

feat: select, option/option-group custom render
  packages/components/select/README.md
  packages/components/select/option-group-props.ts
  packages/components/select/option-group.tsx
  packages/components/select/option-props.ts
  packages/components/select/option.tsx
  packages/components/select/select-props.ts
  packages/components/select/select.tsx
Due: eslint --fix

feat: portal, alive config changed
  packages/components/portal/README.md
  packages/components/portal/default-options.ts
  packages/components/portal/portal.ts
Due: eslint --fix

feat: portal, alive example
  packages/components/portal/examples/alive.vue
  packages/components/portal/examples/alive/index.ts
  packages/components/portal/examples/alive/wrapper.vue
Due: eslint --fix

fix: portal, alive update after nextTick
  packages/components/portal/examples/alive.vue
  packages/components/portal/examples/alive/wrapper.vue
  packages/components/portal/portal.ts
Due: eslint --fix

docs: scroller, updated
  packages/components/scroller/README.md
Due: eslint --fix

feat: popup, initial commit
  packages/components/popup/__tests__/index.spec.tsx
  packages/components/popup/examples/index.vue
  packages/components/popup/examples/popup/index.ts
  packages/components/popup/examples/popup/wrapper.vue
  packages/components/popup/index.m.ts
  packages/components/popup/index.ts
  packages/components/popup/mobile/popup-props.ts
  packages/components/popup/mobile/popup.tsx
  packages/components/popup/mobile/style.scss
  packages/components/popup/popup-props.ts
  packages/components/popup/popup.tsx
  packages/components/popup/style.scss
Due: stylelint --fix, eslint --fix

feat: artboard, initial commit
  packages/components/artboard/artboard-props.ts
  packages/components/artboard/artboard.tsx
  packages/components/artboard/examples/index.vue
  packages/components/artboard/examples/popup/index.js
  packages/components/artboard/examples/popup/sign.vue
  packages/components/artboard/style.scss
Due: stylelint --fix, eslint --fix

feat: it -> row, value/label priority
  packages/components/image-preview/photoswipe/index.ts
  packages/components/tabs/mobile/tabs.tsx
  packages/components/tabs/tabs.tsx
  packages/components/upload-picker/item/image.tsx
  packages/components/upload-picker/upload-picker.tsx
  packages/components/upload-picker/use-picker.ts
Due: eslint --fix

feat: portal, expose reject/resolve
  packages/components/portal/portal-leaf.ts
  packages/components/portal/portal.ts
Due: eslint --fix

feat: upload, add method `Upload.open`
  packages/components/upload/examples/index.vue
  packages/components/upload/index.ts
  packages/components/upload/open.ts
  packages/components/upload/upload.ts
Due: eslint --fix

fix: image, incorrect value
  packages/components/image/image.tsx
Due: eslint --fix

chore: update `.editorconfig`
  .editorconfig
Due: none

chore: add quill
  packages/components/image-preview/photoswipe/index.ts
  packages/components/package.json
  packages/components/upload-picker/use-picker.ts
  packages/components/vc/options.ts
  pnpm-lock.yaml
Due: eslint --fix

feat: accepts empty string tab values(from codex)
  packages/components/tabs/__tests__/index.spec.tsx
  packages/components/tabs/mobile/tabs.tsx
  packages/components/tabs/tabs.tsx
  packages/components/tabs/use-tabs-pane.ts
  packages/components/tabs/use-tabs.ts
Due: eslint --fix

feat: accepts empty string tab values(from claude)
  packages/components/tabs/mobile/tabs.tsx
  packages/components/tabs/tabs.tsx
  packages/components/tabs/use-tabs-pane.ts
  packages/components/tabs/use-tabs.ts
Due: eslint --fix

feat: recycle-list, lastItemIndex (from claude)
  packages/components/recycle-list/recycle-list.tsx
Due: eslint --fix

feat: accepts empty string tab values(from codegeex)
  packages/components/tabs/__tests__/empty-value.spec.tsx
  packages/components/tabs/tabs-pane-props.ts
  packages/components/tabs/tabs-props.ts
  packages/components/tabs/tabs.tsx
  packages/components/tabs/use-tabs-pane.ts
  packages/components/tabs/use-tabs.ts
Due: eslint --fix

Path conditions:
  stylelint --fix: any of: **/*.{css,scss}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx,md}
