Repository deot/vc: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

feat: recycle-list, lastItemIndex (from codegeex)
  packages/components/recycle-list/recycle-list.tsx
Due: eslint --fix

feat: editor, initial commit & gallery -> enhancer
  packages/components/editor/default-options.ts
  packages/components/editor/editor-props.ts
  packages/components/editor/editor-view.scss
  packages/components/editor/editor-view.tsx
  packages/components/editor/editor.scss
  packages/components/editor/editor.tsx
  packages/components/editor/examples/index.vue
  packages/components/editor/extends/constant.ts
  packages/components/editor/extends/event.ts
  packages/components/editor/extends/font-size.ts
  packages/components/editor/extends/index.ts
  packages/components/editor/extends/letter-spacing.ts
  packages/components/editor/extends/line-height.ts
  packages/components/editor/extends/video-blot.ts
  packages/components/editor/index.ts
  packages/components/editor/reset.scss
  packages/components/editor/style.scss
  packages/components/editor/third.scss
  packages/components/editor/toolbar.tsx
  packages/components/editor/utils.ts
  packages/components/style/mixins.scss
  packages/components/upload-picker/README.md
  packages/components/upload-picker/upload-picker-props.ts
  packages/components/upload-picker/upload-picker.tsx
  packages/components/upload-picker/use-picker.ts
  packages/components/upload-picker/utils.ts
  packages/components/upload/open.ts
  packages/components/upload/upload-props.ts
  packages/components/upload/upload.ts
  packages/components/vc/options.ts
Due: stylelint --fix, eslint --fix

fix: textarea, indicator error
  packages/components/textarea/textarea.tsx
Due: eslint --fix

style: drawer, footer height(56px)
  packages/components/drawer/style.scss
Due: stylelint --fix

feat: editor, support audio tag
  packages/components/editor/editor.scss
  packages/components/editor/extends/audio-blot.ts
  packages/components/editor/extends/event-module.ts
  packages/components/editor/extends/index.ts
  packages/components/upload-picker/use-picker.ts
  packages/components/upload-picker/utils.ts
Due: stylelint --fix, eslint --fix

feat: date-picker, options rest
  packages/components/date-picker/README.md
  packages/components/date-picker/examples/index.vue
  packages/components/date-picker/panel/base-time-props.ts
  packages/components/date-picker/panel/base/time-select.tsx
  packages/components/date-picker/panel/time-range.tsx
  packages/components/date-picker/panel/time.tsx
  packages/components/date-picker/picker/date-picker-props.ts
  packages/components/date-picker/picker/date-picker.tsx
  packages/components/date-picker/picker/time-picker-props.ts
  packages/components/date-picker/picker/time-picker.tsx
Due: eslint --fix

feat: tabs, accepts empty string tab values
  packages/components/tabs/__tests__/index.spec.tsx
  packages/components/tabs/examples/empty-value.vue
  packages/components/tabs/mobile/tabs.tsx
  packages/components/tabs/tabs-pane-props.ts
  packages/components/tabs/tabs-props.ts
  packages/components/tabs/tabs.tsx
  packages/components/tabs/use-tabs-pane.ts
  packages/components/tabs/use-tabs.ts
Due: eslint --fix

feat: button, add solid/dashed
  packages/components/button/button-props.ts
  packages/components/button/button.scss
  packages/components/button/button.tsx
  packages/components/button/examples/index.vue
Due: stylelint --fix, eslint --fix

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/index/CHANGELOG.md
  packages/index/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  pnpm-lock.yaml
Due: eslint --fix

chore: git-ignore updated
  .gitignore
Due: none

feat: table, add table-sort
  packages/components/table/README.md
  packages/components/table/examples/row-height.vue
  packages/components/table/style.scss
  packages/components/table/table-header.tsx
  packages/components/table/table-props.ts
  packages/components/table/table-sort.scss
  packages/components/table/table-sort.tsx
  packages/components/table/table.scss
  packages/components/table/table.tsx
Due: stylelint --fix, eslint --fix

style: textarea, indicator inline
  packages/components/textarea/style.scss
Due: stylelint --fix

style: color-change, #2B72FD -> #456CF6
  packages/components/alert/alert.tsx
  packages/components/alert/style.scss
  packages/components/button/button.scss
  packages/components/checkbox/checkbox.scss
  packages/components/dropdown/style.scss
  packages/components/notice/README.md
  packages/components/popconfirm/README.md
  packages/components/progress/README.md
  packages/components/progress/progress-props.ts
  packages/components/progress/style.scss
  packages/components/radio/radio.scss
  packages/components/select/option.scss
  packages/components/style/theme.scss
  packages/components/tabs/README.md
  packages/components/timeline/README.md
Due: stylelint --fix, eslint --fix

feat: affix, initial commit
  packages/components/affix/README.md
  packages/components/affix/__tests__/index.spec.tsx
  packages/components/affix/affix-props.ts
  packages/components/affix/affix.tsx
  packages/components/affix/examples/index.vue
  packages/components/affix/examples/scroller.vue
  packages/components/affix/index.m.ts
  packages/components/affix/index.ts
  packages/components/affix/style.scss
  packages/components/index.ts
  packages/index/src/index.ts
Due: stylelint --fix, eslint --fix

chore: deps updated
  package.json
  packages/components/package.json
  pnpm-lock.yaml
Due: none

feat: affix, wheel container supported
  packages/components/affix/affix-props.ts
  packages/components/affix/affix.tsx
  packages/components/affix/examples/scroller.vue
  packages/components/scroller/use-scroller.ts
Due: eslint --fix

fix: tabs, set default value required
  packages/components/tabs/tabs-pane-props.ts
Due: eslint --fix

feat: text, theme supported
  packages/components/text/text-props.ts
  packages/components/text/text.tsx
Due: eslint --fix

feat: affix, active status exposed
  packages/components/affix/affix.tsx
Due: eslint --fix

feat: tabs, anchor supported
  packages/components/tabs/README.md
  packages/components/tabs/tabs-pane-props.ts
  packages/components/tabs/use-tabs.ts
Due: eslint --fix

style: button, default/solid supported
  packages/components/button/button.scss
  packages/components/button/examples/index.vue
Due: stylelint --fix

style: switch, disabled style
  packages/components/switch/examples/index.vue
  packages/components/switch/style.scss
  packages/components/switch/use-switch.ts
Due: stylelint --fix, eslint --fix

style: form, error/content/label
  packages/components/form/README.md
  packages/components/form/form-item-props.ts
  packages/components/form/form-item.tsx
  packages/components/form/form-props.ts
  packages/components/form/mobile/form-item.tsx
  packages/components/form/use-form-item.ts
Due: eslint --fix

style: form, merge error/content/label
  packages/components/form/form-item.tsx
  packages/components/form/mobile/form-item.tsx
  packages/components/form/use-form-item.ts
Due: eslint --fix

style: radio, gap(8 -> 24)
  packages/components/radio/radio.scss
Due: stylelint --fix

feat: select, prepend/label supported
  packages/components/select/examples/index.vue
  packages/components/select/select-props.ts
  packages/components/select/select.scss
  packages/components/select/select.tsx
Due: stylelint --fix, eslint --fix

style: select, prepend/label supported
  packages/components/select/select.scss
  packages/components/select/select.tsx
Due: stylelint --fix, eslint --fix

feat: tabs/affix/anchor, allow change tab status when scroll
  .github/workflows/ci.yml
  .github/workflows/release.yml
  packages/components/affix/affix-props.ts
  packages/components/affix/affix.tsx
  packages/components/affix/examples/scroller.vue
  packages/components/scroller/utils.ts
  packages/components/tabs/examples/anchor.vue
  packages/components/tabs/tabs-props.ts
  packages/components/tabs/use-tabs.ts
Due: eslint --fix

feat: form, nested style/class supported
  packages/components/form/examples/index.vue
  packages/components/form/form-item.tsx
  packages/components/form/form-props.ts
  packages/components/form/mobile/form-item.tsx
  packages/components/form/mobile/style.scss
  packages/components/form/style.scss
  packages/components/form/use-form-item.ts
Due: stylelint --fix, eslint --fix

feat: tree-select/editor exposed
  packages/components/editor/index.m.ts
  packages/index/src/index.ts
Due: eslint --fix

feat: form, required priority
  packages/components/form/use-form-item.ts
Due: eslint --fix

feat: radio-button, supported
  packages/components/radio/examples/index.vue
  packages/components/radio/index.m.ts
  packages/components/radio/index.ts
  packages/components/radio/mobile/radio.scss
  packages/components/radio/mobile/radio.tsx
  packages/components/radio/radio-button.scss
  packages/components/radio/radio-button.tsx
  packages/components/radio/radio-props.ts
  packages/components/radio/radio.scss
  packages/components/radio/radio.tsx
  packages/components/radio/style.scss
  packages/components/radio/use-radio.ts
  packages/index/src/index.ts
Due: stylelint --fix, eslint --fix

style: cascader, remove append background
  packages/components/cascader/cascader.scss
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: **/*.{css,scss}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx,md}
