Repository deot/vc: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

chore: deps updated
  package.json
  pnpm-lock.yaml
Due: none

chore: fix multiple vue package
  packages/components/package.json
  packages/hooks/package.json
  pnpm-lock.yaml
Due: none

fix: [components] transition, fall flat when removed
  packages/components/transition/examples/index.vue
  packages/components/transition/transition-collapse.ts
  packages/components/transition/use-transition.ts
Due: eslint --fix

style: [components] scroller, alone layer when wheel mode
  packages/components/scroller/scroller-wheel.scss
  packages/components/scroller/scroller-wheel.tsx
  packages/components/scroller/track.scss
Due: stylelint --fix, eslint --fix

feat: [components] portal, portal-destroyed
  packages/components/portal/README.md
  packages/components/portal/__tests__/index.spec.tsx
  packages/components/portal/default-options.ts
  packages/components/portal/portal.ts
Due: eslint --fix

chore: deps updated
  .npmrc
  package.json
  packages/components/package.json
  pnpm-lock.yaml
Due: none

feat: [components] customer `Render` expose
  packages/components/customer/customer-props.ts
  packages/components/customer/types.ts
Due: eslint --fix

feat: [hooks] add `getInstance`
  packages/hooks/__tests__/get-instance.spec.ts
  packages/hooks/src/get-instance.ts
  packages/hooks/src/index.ts
Due: eslint --fix

feat: [components] scroller, wrapper exposed
  packages/components/scroller/use-scroller.ts
Due: eslint --fix

feat: [components] recycle-list, initial commit
  packages/components/recycle-list/container-constant.ts
  packages/components/recycle-list/container-props.ts
  packages/components/recycle-list/container.tsx
  packages/components/recycle-list/examples/basic.vue
  packages/components/recycle-list/examples/columns.vue
  packages/components/recycle-list/examples/data-source.vue
  packages/components/recycle-list/examples/index.vue
  packages/components/recycle-list/examples/inverted-skeleton.vue
  packages/components/recycle-list/examples/inverted.vue
  packages/components/recycle-list/examples/less-screen.vue
  packages/components/recycle-list/examples/skeleton.vue
  packages/components/recycle-list/item.tsx
  packages/components/recycle-list/recycle-list-props.ts
  packages/components/recycle-list/recycle-list.tsx
  packages/components/recycle-list/scroll-state.tsx
  packages/components/recycle-list/style.scss
Due: stylelint --fix, eslint --fix

feat: [components] recycle-list, height unset
  packages/components/recycle-list/examples/basic.vue
  packages/components/recycle-list/examples/columns.vue
  packages/components/recycle-list/examples/data-source.vue
  packages/components/recycle-list/examples/inverted-skeleton.vue
  packages/components/recycle-list/examples/inverted.vue
  packages/components/recycle-list/examples/less-screen.vue
  packages/components/recycle-list/examples/skeleton.vue
Due: none

fix: [components] recycle-list, column width
  packages/components/recycle-list/recycle-list.tsx
  packages/components/recycle-list/style.scss
Due: stylelint --fix, eslint --fix

fix: [components] recycle-list, load-data again after set data-source
  packages/components/recycle-list/examples/data-source.vue
  packages/components/recycle-list/recycle-list.tsx
Due: eslint --fix

fix: [components] recycle-list, keep position when inverted
  packages/components/recycle-list/examples/inverted.vue
  packages/components/recycle-list/recycle-list.tsx
Due: eslint --fix

fix: [components] recycle-list, horizontal
  packages/components/recycle-list/README.md
  packages/components/recycle-list/container-constant.ts
  packages/components/recycle-list/container-props.ts
  packages/components/recycle-list/container.tsx
  packages/components/recycle-list/examples/horizontal.vue
  packages/components/recycle-list/item.tsx
  packages/components/recycle-list/recycle-list-props.ts
  packages/components/recycle-list/recycle-list.tsx
  packages/components/recycle-list/scroll-state.tsx
  packages/components/recycle-list/style.scss
  packages/components/recycle-list/use-direction-keys.ts
Due: stylelint --fix, eslint --fix

feat: [components] form, ui changed & sort errors by position
  packages/components/form/README.md
  packages/components/form/examples/fake/tpl.vue
  packages/components/form/examples/index.vue
  packages/components/form/examples/mobile.vue
  packages/components/form/form-item-props.ts
  packages/components/form/form-item.tsx
  packages/components/form/mobile/form-item.tsx
  packages/components/form/mobile/form-props.ts
  packages/components/form/mobile/form.ts
  packages/components/form/mobile/style.scss
  packages/components/form/style.scss
  packages/components/form/types.ts
  packages/components/form/use-form-item.ts
  packages/components/form/use-form.ts
Due: stylelint --fix, eslint --fix

feat: [components] scroller, bar control
  packages/components/scroller/scroller-props.ts
  packages/components/scroller/scroller-wheel.tsx
  packages/components/scroller/scroller.scss
  packages/components/scroller/use-scroller.ts
Due: stylelint --fix, eslint --fix

fix: [components] recycle-list, scroller-options
  packages/components/recycle-list/examples/data-source.vue
  packages/components/recycle-list/recycle-list-props.ts
  packages/components/recycle-list/recycle-list.tsx
Due: eslint --fix

feat: [components] resizer, initial commit
  packages/components/index.ts
  packages/components/resizer/README.md
  packages/components/resizer/__tests__/index.spec.tsx
  packages/components/resizer/examples/index.vue
  packages/components/resizer/index.m.ts
  packages/components/resizer/index.ts
  packages/components/resizer/resizer-props.ts
  packages/components/resizer/resizer.ts
  packages/components/resizer/style.scss
Due: stylelint --fix, eslint --fix

fix: [components] recycle-list, offsetSize -> getBoundingClientRect
  packages/components/recycle-list/item.tsx
  packages/components/recycle-list/use-direction-keys.ts
Due: eslint --fix

feat: [components] form, expose validate message
  packages/components/form/types.ts
  packages/components/form/use-form-item.ts
Due: eslint --fix

docs: [components] recycle-list updated
  packages/components/recycle-list/recycle-list.tsx
Due: eslint --fix

fix: [components] scroller bar max move
  packages/components/scroller/track.tsx
Due: eslint --fix

feat: [components] scroller, add scroll-delegate
  packages/components/scroller/README.md
  packages/components/scroller/bar-props.ts
  packages/components/scroller/bar.tsx
  packages/components/scroller/examples/wheel-dynamic.vue
  packages/components/scroller/scroller-wheel.tsx
  packages/components/scroller/scroller.tsx
  packages/components/scroller/track.tsx
  packages/components/scroller/use-scroller.ts
Due: eslint --fix

feat: [components] scroller, scroll-delegate -> scroll
  packages/components/scroller/examples/wheel-dynamic.vue
  packages/components/scroller/scroller-wheel.tsx
  packages/components/scroller/scroller.tsx
  packages/components/scroller/use-scroller.ts
Due: eslint --fix

fix: [components] scroller, native scroll
  packages/components/recycle-list/recycle-list.tsx
  packages/components/scroller/scroller-wheel.tsx
  packages/components/scroller/use-scroller.ts
Due: eslint --fix

ci: test no-coverage interim
  .github/workflows/ci.yml
  package.json
  packages/components/toast/__tests__/index.spec.tsx
Due: eslint --fix

feat: vc-echarts -> vc-chart
  packages/components/chart/README.md
  packages/components/chart/__tests__/index.spec.tsx
  packages/components/chart/chart-props.ts
  packages/components/chart/chart.tsx
  packages/components/chart/examples/index.vue
  packages/components/chart/index.m.ts
  packages/components/chart/index.ts
  packages/components/chart/style.scss
  packages/components/echarts/__tests__/index.spec.tsx
  packages/components/echarts/index.m.ts
  packages/components/echarts/index.ts
  packages/components/index.ts
Due: stylelint --fix, eslint --fix

feat: ⚠️ class-name -> class
  packages/components/action-sheet/README.md
  packages/components/customer/README.md
  packages/components/drawer/README.md
  packages/components/dropdown/README.md
  packages/components/image-preview/README.md
  packages/components/input/README.md
  packages/components/input/input.tsx
  packages/components/modal/README.md
  packages/components/modal/examples/index.vue
  packages/components/modal/modal-view-props.ts
  packages/components/modal/modal-view.tsx
  packages/components/popup/README.md
  packages/components/scroller/bar-props.ts
  packages/components/scroller/bar.tsx
  packages/components/scroller/scroller-props.ts
  packages/components/scroller/scroller-wheel.tsx
  packages/components/scroller/scroller.tsx
  packages/components/scroller/track-props.ts
  packages/components/scroller/track.tsx
  packages/components/scroller/use-scroller.ts
  packages/components/select/README.md
  packages/components/table/README.md
  packages/components/text/README.md
  packages/components/textarea/README.md
  packages/components/tree/README.md
  packages/components/upload-picker/README.md
Due: eslint --fix

feat: ⚠️ styles -> style(inheritAttrs必须是false)
  packages/components/modal/README.md
  packages/components/modal/mobile/modal-view-props.ts
  packages/components/modal/mobile/modal-view.tsx
  packages/components/modal/modal-view-props.ts
  packages/components/modal/modal-view.tsx
  packages/components/transition/README.md
  packages/components/transition/transition-fade.ts
  packages/components/transition/transition-props.ts
  packages/components/transition/transition-scale.ts
  packages/components/transition/transition-slide.ts
  packages/components/transition/transition-zoom.ts
  packages/components/transition/use-transition.ts
Due: eslint --fix

feat: ⚠️ data-source -> data
  packages/components/cascader/README.md
  packages/components/image-preview/README.md
  packages/components/picker/README.md
  packages/components/recycle-list/examples/data-source.vue
  packages/components/recycle-list/recycle-list-props.ts
  packages/components/recycle-list/recycle-list.tsx
  packages/components/steps/README.md
  packages/components/table/README.md
  packages/components/tree/README.md
Due: eslint --fix

feat: [components] popover, initial commit
  packages/components/popover/README.md
  packages/components/popover/examples/index.vue
  packages/components/popover/popover-props.ts
  packages/components/popover/popover.scss
  packages/components/popover/popover.tsx
  packages/components/popover/style.scss
  packages/components/popover/types.ts
  packages/components/popover/use-pos.ts
  packages/components/popover/wrapper-props.ts
  packages/components/popover/wrapper.scss
  packages/components/popover/wrapper.tsx
  packages/components/style/theme.scss
  packages/components/transition/examples/transition.vue
Due: stylelint --fix, eslint --fix

feat: package entry
  package.json
  packages/components/button/index.m.ts
  packages/components/customer/index.ts
  packages/components/debounce/index.m.ts
  packages/components/form/index.ts
  packages/components/package.json
  packages/components/scroller/types.ts
  packages/components/vc/__tests__/index.spec.ts
  packages/components/vc/index.ts
  packages/hooks/package.json
  packages/index/__tests__/index.spec.ts
  packages/index/package.json
  packages/index/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix

feat: release without coverage
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: none

ci: only define up to 10 `inputs`
  .github/workflows/release.yml
Due: none

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/index/CHANGELOG.md
  packages/index/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  pnpm-lock.yaml
Due: eslint --fix

fix(index): custom component key
  packages/index/src/index.ts
Due: eslint --fix

fix: [components] popover keep when leave
  packages/components/popover/wrapper.tsx
Due: eslint --fix

feat: [components] alert/card initial commit & popover theme
  packages/components/alert/README.md
  packages/components/alert/__tests__/index.spec.tsx
  packages/components/alert/alert-props.ts
  packages/components/alert/alert.tsx
  packages/components/alert/examples/index.vue
  packages/components/alert/style.scss
  packages/components/card/card-props.ts
  packages/components/card/card.tsx
  packages/components/card/examples/index.vue
  packages/components/card/style.scss
  packages/components/popover/examples/index.vue
  packages/components/popover/wrapper.scss
  packages/components/style/theme.scss
Due: stylelint --fix, eslint --fix

Path conditions:
  stylelint --fix: any of: **/*.{css,scss}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx,md}
