Repository deot/vc: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "**/*.{css,scss}": [
    "stylelint --fix"
  ],
  "**/*.{js,ts,jsx,tsx,md}": [
    "eslint --fix"
  ]
}

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/index/CHANGELOG.md
  packages/index/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  pnpm-lock.yaml
Due: eslint --fix

feat: [components] tabs initial commit
  packages/components/tabs/README.md
  packages/components/tabs/examples/index.vue
  packages/components/tabs/index.m.ts
  packages/components/tabs/index.ts
  packages/components/tabs/style.scss
  packages/components/tabs/tabs-pane-props.ts
  packages/components/tabs/tabs-pane.scss
  packages/components/tabs/tabs-pane.tsx
  packages/components/tabs/tabs.scss
  packages/components/tabs/tabs.tsx
  packages/components/tabs/use-tabs-pane.ts
  packages/components/tabs/use-tabs.ts
  packages/index/src/index.ts
Due: stylelint --fix, eslint --fix

feat: [components] image initial commit
  packages/components/image/examples/index.vue
  packages/components/image/image-props.ts
  packages/components/image/image.tsx
  packages/components/image/store.ts
Due: eslint --fix

feat: [components] chart initial commit `ECharts`
  packages/components/chart/chart-props.ts
  packages/components/chart/chart.tsx
  packages/components/chart/constants.ts
  packages/components/chart/examples/index.vue
  packages/components/package.json
  pnpm-lock.yaml
Due: eslint --fix

fix: [components] image ternary judgment & expose components
  packages/components/image/image.tsx
  packages/index/src/index.ts
Due: eslint --fix

fix: [components] tabs, unmounted warning
  packages/components/tabs/tabs.tsx
  packages/components/tabs/use-tabs.ts
Due: eslint --fix

feat: [components] notice/message/toast, expose `setContent`
  packages/components/message/README.md
  packages/components/message/message-view-props.ts
  packages/components/message/message-view.tsx
  packages/components/notice/README.md
  packages/components/notice/notice-view-props.ts
  packages/components/notice/notice-view.tsx
  packages/components/portal/default-options.ts
  packages/components/toast/README.md
  packages/components/toast/mobile/toast-view-props.ts
  packages/components/toast/mobile/toast-view.tsx
Due: eslint --fix

feat: [components] notice/message/toast, expose `setDuration`
  packages/components/message/message-view.tsx
  packages/components/notice/notice-view.tsx
  packages/components/toast/mobile/toast-view.tsx
Due: eslint --fix

feat: [components] tabs, theme & m-tabs initial commit
  packages/components/tabs/README.md
  packages/components/tabs/examples/index.vue
  packages/components/tabs/examples/mobile.vue
  packages/components/tabs/index.m.ts
  packages/components/tabs/mobile/style.scss
  packages/components/tabs/mobile/tabs-pane.scss
  packages/components/tabs/mobile/tabs-pane.tsx
  packages/components/tabs/mobile/tabs-props.ts
  packages/components/tabs/mobile/tabs.scss
  packages/components/tabs/mobile/tabs.tsx
  packages/components/tabs/tabs.scss
Due: stylelint --fix, eslint --fix

feat: ⚠️ provide/inject add prefix
  packages/components/button/button-group.tsx
  packages/components/button/button.tsx
  packages/components/form/__tests__/fixtures/input.ts
  packages/components/form/__tests__/fixtures/select.ts
  packages/components/form/constants.ts
  packages/components/form/examples/fake/array.vue
  packages/components/form/examples/fake/tpl.vue
  packages/components/form/use-form-item.ts
  packages/components/input/use-input.ts
  packages/components/list/mobile/list-item.tsx
  packages/components/list/mobile/list.ts
  packages/components/tabs/use-tabs-pane.ts
  packages/components/tabs/use-tabs.ts
Due: eslint --fix

feat: [components] expand, initial commit
  packages/components/expand/README.md
  packages/components/expand/__tests__/index.spec.tsx
  packages/components/expand/examples/index.vue
  packages/components/expand/expand-props.ts
  packages/components/expand/expand.tsx
Due: eslint --fix

feat: expose function replace argument
  packages/components/popover/popover.tsx
  packages/components/popover/wrapper.tsx
Due: eslint --fix

feat: [components] collapse, initial commit
  packages/components/collapse/README.md
  packages/components/collapse/collapse-item-props.ts
  packages/components/collapse/collapse-item.tsx
  packages/components/collapse/collapse-props.ts
  packages/components/collapse/collapse.ts
  packages/components/collapse/collapse.tsx
  packages/components/collapse/examples/index.vue
  packages/components/collapse/index.m.ts
  packages/components/collapse/index.ts
  packages/components/collapse/style.scss
  packages/components/expand/examples/index.vue
  packages/components/expand/expand.tsx
Due: stylelint --fix, eslint --fix

feat: [components] resizer, add change event
  packages/components/recycle-list/item.tsx
  packages/components/resizer/resizer.ts
Due: eslint --fix

feat: [components] resizer, layout scroll inner example
  packages/components/resizer/examples/layout.vue
Due: none

feat: [components] resizer, layout scroll inner example
  packages/components/resizer/examples/mins.vue
Due: none

feat: [components] transition, placement/mode coherence
  packages/components/transition/README.md
  packages/components/transition/examples/index.vue
  packages/components/transition/transition-slide.scss
  packages/components/transition/transition-slide.ts
Due: stylelint --fix, eslint --fix

feat: [components] drawer,initial commit
  packages/components/drawer/drawer-props.ts
  packages/components/drawer/drawer-view-props.ts
  packages/components/drawer/drawer-view.tsx
  packages/components/drawer/drawer.ts
  packages/components/drawer/drawer.tsx
  packages/components/drawer/examples/index.vue
  packages/components/drawer/examples/popup/index.ts
  packages/components/drawer/examples/popup/wrapper.vue
  packages/components/drawer/index.m.ts
  packages/components/drawer/index.ts
  packages/components/drawer/style.scss
  packages/components/modal/modal-view.tsx
  packages/components/modal/modal.ts
  packages/preload.ts
Due: stylelint --fix, eslint --fix

feat: expose `DrawerView` & `ModalView`
  packages/components/drawer/__tests__/index.spec.tsx
  packages/components/message/message-view.tsx
  packages/index/src/index.ts
Due: eslint --fix

feat: [components] form, allow hide asterisk ('*')
  packages/components/form/form-item-props.ts
  packages/components/form/use-form-item.ts
Due: eslint --fix

feat: expose collapse-item
  packages/index/src/index.ts
Due: eslint --fix

feat: drawer, v-show & close cursor
  packages/components/drawer/drawer-view.tsx
  packages/components/drawer/style.scss
Due: stylelint --fix, eslint --fix

fix: input-number, hide step render when 0
  packages/components/input/examples/input-number.vue
  packages/components/input/input-number.tsx
Due: eslint --fix

fix: type check error
  packages/hooks/__tests__/use-raw-attrs.spec.ts
Due: eslint --fix

feat: popover, alone(default: true) & fix fit pos
  packages/components/popover/README.md
  packages/components/popover/examples/index.vue
  packages/components/popover/popover.tsx
  packages/components/popover/use-pos.ts
  packages/components/popover/wrapper-props.ts
  packages/components/popover/wrapper.tsx
Due: eslint --fix

docs: popover, updated
  packages/components/popover/README.md
Due: eslint --fix

feat: switch, initial commit
  packages/components/switch/README.md
  packages/components/switch/examples/mobile.vue
  packages/components/switch/index.m.ts
  packages/components/switch/mobile/style.scss
  packages/components/switch/mobile/switch.tsx
  packages/components/switch/style.scss
  packages/components/switch/switch-props.ts
  packages/components/switch/use-switch.ts
Due: stylelint --fix, eslint --fix

feat: checkbox, initial commit
  packages/components/checkbox/README.md
  packages/components/checkbox/checkbox-group-props.ts
  packages/components/checkbox/checkbox-group.scss
  packages/components/checkbox/checkbox-group.tsx
  packages/components/checkbox/checkbox-props.ts
  packages/components/checkbox/checkbox.scss
  packages/components/checkbox/examples/mobile.vue
  packages/components/checkbox/index.m.ts
  packages/components/checkbox/index.ts
  packages/components/checkbox/mobile/checkbox-group.scss
  packages/components/checkbox/mobile/checkbox-group.tsx
  packages/components/checkbox/mobile/checkbox.scss
  packages/components/checkbox/mobile/checkbox.tsx
  packages/components/checkbox/mobile/style.scss
  packages/components/checkbox/use-checkbox-group.ts
  packages/components/checkbox/use-checkbox.ts
  packages/index/src/index.ts
Due: stylelint --fix, eslint --fix

feat: radio, initial commit
  packages/components/radio/README.md
  packages/components/radio/examples/index.vue
  packages/components/radio/examples/mobile.vue
  packages/components/radio/index.m.ts
  packages/components/radio/index.ts
  packages/components/radio/mobile/radio-group.scss
  packages/components/radio/mobile/radio-group.tsx
  packages/components/radio/mobile/radio.scss
  packages/components/radio/mobile/radio.tsx
  packages/components/radio/mobile/style.scss
  packages/components/radio/radio-group-props.ts
  packages/components/radio/radio-group.scss
  packages/components/radio/radio-group.tsx
  packages/components/radio/radio-props.ts
  packages/components/radio/radio.scss
  packages/components/radio/use-radio-group.ts
  packages/components/radio/use-radio.ts
  packages/index/src/index.ts
Due: stylelint --fix, eslint --fix

feat: marquee, initial commit
  packages/components/marquee/examples/index.vue
  packages/components/marquee/marquee-props.ts
  packages/components/marquee/marquee.tsx
  packages/components/marquee/style.scss
Due: stylelint --fix, eslint --fix

feat: text, initial commit
  packages/components/text/examples/index.vue
  packages/components/text/style.scss
  packages/components/text/text-props.ts
  packages/components/text/text.tsx
  packages/components/text/utils.ts
  packages/shared/src/utils.ts
Due: stylelint --fix, eslint --fix

feat: text/chart, resize(boolean & number)
  packages/components/chart/README.md
  packages/components/chart/chart-props.ts
  packages/components/chart/chart.tsx
  packages/components/chart/examples/index.vue
  packages/components/text/README.md
  packages/components/text/examples/index.vue
  packages/components/text/text-props.ts
  packages/components/text/text.tsx
  packages/components/text/utils.ts
Due: eslint --fix

feat: print, initial commit
  packages/components/print/examples/index.vue
  packages/components/print/print-props.ts
  packages/components/print/print.tsx
Due: eslint --fix
