Repository deot/vc: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

fix: image-crop, ignore non-primary buttons when dragging the image
  packages/components/image-crop/__tests__/index.spec.tsx
  packages/components/image-crop/image-crop.tsx
  packages/components/image-crop/utils.ts
Due: eslint --fix

fix: scroller, keep dragging the thumb outside the viewport
  packages/components/scroller/__tests__/index.spec.tsx
  packages/components/scroller/track.tsx
Due: eslint --fix

fix: table, ignore non-primary buttons when resizing a column
  packages/components/table/__tests__/index.spec.tsx
  packages/components/table/table-header/table-header.tsx
Due: eslint --fix

fix: table, keep the horizontal scrollbar above the summary row with a fixed height
  packages/components/table/table-body/table-body.tsx
Due: eslint --fix

fix: table, keep the first cell of the summary row on one line
  packages/components/table/table.scss
Due: stylelint --fix

feat: icon, add color and size props
  packages/components/icon/README.md
  packages/components/icon/__tests__/index.spec.tsx
  packages/components/icon/examples/size.vue
  packages/components/icon/icon-props.ts
  packages/components/icon/icon.tsx
  packages/components/icon/style.scss
Due: stylelint --fix, eslint --fix

style!: calendar, expand public API abbreviations
  packages/components/calendar/README.md
  packages/components/calendar/__tests__/index.spec.tsx
  packages/components/calendar/calendar.tsx
  packages/components/calendar/date2holiday/index.ts
  packages/components/calendar/date2holiday/types.ts
  packages/components/calendar/examples/index.vue
  packages/components/calendar/style.scss
  packages/components/calendar/types.ts
  packages/components/calendar/utils.ts
Due: stylelint --fix, eslint --fix

style!: rename navigation methods from prev to previous
  packages/components/carousel/README.md
  packages/components/carousel/__tests__/index.spec.tsx
  packages/components/carousel/use-carousel.ts
  packages/components/pagination/README.md
  packages/components/pagination/__tests__/index.spec.tsx
  packages/components/pagination/pagination.tsx
  packages/components/theme/examples/theme-audit/modules/calendar.vue
Due: eslint --fix

style!: rename aliveRegExp to aliveRules
  packages/components/portal/README.md
  packages/components/portal/__tests__/index.spec.tsx
  packages/components/portal/default-options.ts
  packages/components/portal/portal.ts
  packages/components/vc/README.md
Due: eslint --fix

style!: expand public node option names
  packages/components/notice/notice.ts
  packages/components/popover/README.md
  packages/components/popover/__tests__/index.spec.tsx
  packages/components/popover/examples/hover-timer.vue
  packages/components/popover/examples/index.vue
  packages/components/popover/examples/position.vue
  packages/components/popover/examples/scroll-follow.vue
  packages/components/popover/examples/size.vue
  packages/components/popover/popover.tsx
  packages/components/popover/use-hover-popover.ts
  packages/components/popover/wrapper-props.ts
  packages/components/popover/wrapper.tsx
  packages/components/portal/README.md
  packages/components/portal/__tests__/index.spec.tsx
  packages/components/portal/default-options.ts
  packages/components/portal/portal.ts
  packages/components/scroller/README.md
  packages/components/scroller/__tests__/index.spec.tsx
  packages/components/scroller/scroller-props.ts
  packages/components/scroller/scroller.tsx
  packages/components/select/__tests__/index.spec.tsx
  packages/components/select/select-tags.tsx
  packages/components/table/__tests__/header-line.spec.tsx
  packages/components/table/table-body/table-body.tsx
  packages/components/table/table-header/table-header.tsx
  packages/components/text/__tests__/index.spec.tsx
  packages/components/text/examples/popover.vue
  packages/components/text/text.tsx
  packages/components/theme/examples/theme-audit/modules/portal.vue
Due: eslint --fix

style!: rename cols prop to columns
  packages/components/date-picker/mobile/date-picker-view.tsx
  packages/components/picker/README.md
  packages/components/picker/__tests__/index.spec.tsx
  packages/components/picker/examples/index.vue
  packages/components/picker/mobile/picker-core.tsx
  packages/components/picker/mobile/picker-props.ts
  packages/components/picker/mobile/picker-view-props.ts
  packages/components/picker/mobile/picker-view.tsx
  packages/components/picker/mobile/picker.tsx
  packages/components/recycle-list/README.md
  packages/components/recycle-list/__tests__/index.spec.tsx
  packages/components/recycle-list/examples/basic.vue
  packages/components/recycle-list/examples/data-source.vue
  packages/components/recycle-list/recycle-list-props.ts
  packages/components/recycle-list/recycle-list.tsx
  packages/components/recycle-list/store/base-watcher.ts
  packages/components/recycle-list/store/layout.ts
  packages/components/recycle-list/store/position.ts
  packages/components/recycle-list/store/store.ts
  packages/components/table/README.md
  packages/components/table/__tests__/index.spec.tsx
  packages/components/table/table-props.ts
  packages/components/theme/examples/theme-audit/modules/picker.vue
Due: eslint --fix

style!: alert rename desc prop and slot to description
  packages/components/alert/README.md
  packages/components/alert/__tests__/index.spec.tsx
  packages/components/alert/alert-props.ts
  packages/components/alert/alert.tsx
  packages/components/alert/examples/index.vue
  packages/components/theme/examples/theme-audit/modules/alert.vue
Due: eslint --fix

style!: utils, rename eleInRegExp to matchesElementRules
  packages/components/popup/mobile/popup.tsx
  packages/components/portal/portal.ts
  packages/components/rate/rate.tsx
  packages/shared/__tests__/utils.spec.ts
  packages/shared/src/utils.ts
Due: eslint --fix

feat: shared, add Keyboard for native keydown subscriptions
  packages/index/src/index.ts
  packages/shared/README.md
  packages/shared/__tests__/keyboard.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/keyboard.ts
Due: eslint --fix

fix: hooks, share the scrollbar lock across overlapping overlays
  packages/hooks/__tests__/use-scrollbar.spec.ts
  packages/hooks/src/use-scrollbar.ts
Due: eslint --fix

feat: popover, export PopoverView and improve arrow positioning
  packages/components/popover/README.md
  packages/components/popover/__tests__/index.spec.tsx
  packages/components/popover/index.ts
  packages/components/popover/popover-props.ts
  packages/components/popover/popover-view-props.ts
  packages/components/popover/popover-view.tsx
  packages/components/popover/popover.tsx
  packages/components/popover/types.ts
  packages/components/popover/use-pos.ts
  packages/components/popover/utils.ts
  packages/components/popover/wrapper.scss
Due: stylelint --fix, eslint --fix

feat: tour, add the guided tour component
  index.html
  packages/components/index.ts
  packages/components/theme/__tests__/theme-audit-runtime.spec.ts
  packages/components/theme/__tests__/theme-audit.spec.ts
  packages/components/theme/examples/theme-audit/catalogue.ts
  packages/components/theme/examples/theme-audit/modules/tour.vue
  packages/components/tour/README.md
  packages/components/tour/__tests__/index.spec.tsx
  packages/components/tour/examples/cache.vue
  packages/components/tour/examples/index.vue
  packages/components/tour/examples/options.vue
  packages/components/tour/examples/responsive.vue
  packages/components/tour/index.m.ts
  packages/components/tour/index.ts
  packages/components/tour/mask.tsx
  packages/components/tour/style.scss
  packages/components/tour/tour-props.ts
  packages/components/tour/tour-step-props.ts
  packages/components/tour/tour-step.tsx
  packages/components/tour/tour-view.tsx
  packages/components/tour/tour.tsx
  packages/components/tour/types.ts
  packages/components/tour/use-keyboard.ts
  packages/components/tour/use-position.ts
  packages/components/tour/use-tour.ts
  packages/components/tour/utils.ts
  packages/components/vc/README.md
  packages/components/vc/options.ts
  packages/index/src/index.ts
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: stylelint --fix, eslint --fix

refactor(*): move full registration into @deot/vc-full
  AGENTS.md
  README.md
  index.html
  package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/vc/README.md
  packages/components/vc/__tests__/index.spec.ts
  packages/components/vc/index.ts
  packages/components/vc/plugin.ts
  packages/full/README.md
  packages/full/__tests__/index.spec.ts
  packages/full/examples/basic.ts
  packages/full/package.json
  packages/full/src/desktop.ts
  packages/full/src/index.desktop.ts
  packages/full/src/index.m.ts
  packages/full/src/index.ts
  packages/full/src/mobile.ts
  packages/hooks/CHANGELOG.md
  packages/index/CHANGELOG.md
  packages/index/README.md
  packages/index/__tests__/index.spec.ts
  packages/index/src/index.ts
  packages/locale/CHANGELOG.md
  packages/shared/CHANGELOG.md
  pnpm-lock.yaml
Due: eslint --fix

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/full/CHANGELOG.md
  packages/full/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/index/CHANGELOG.md
  packages/index/package.json
  packages/locale/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  pnpm-lock.yaml
Due: eslint --fix

refactor(index): merge @deot/vc-full into @deot/vc sub-entries
  AGENTS.md
  README.md
  index.html
  package.json
  packages/components/vc/README.md
  packages/full/CHANGELOG.md
  packages/full/README.md
  packages/full/examples/basic.ts
  packages/full/package.json
  packages/index/README.md
  packages/index/__tests__/entries.spec.ts
  packages/index/examples/full.ts
  packages/index/package.json
  packages/index/src/desktop.ts
  packages/index/src/index.desktop.ts
  packages/index/src/index.full.ts
  packages/index/src/index.mobile.ts
  packages/index/src/mobile.ts
  packages/index/types/entry.d.ts
  pnpm-lock.yaml
Due: eslint --fix

fix(components): declare @deot/vc-hooks and @deot/vc-shared dependencies
  packages/components/package.json
  pnpm-lock.yaml
Due: none

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/index/CHANGELOG.md
  packages/index/package.json
  pnpm-lock.yaml
Due: eslint --fix

style(components): tour, align the title with the close icon and move the scrollbar to the card edge
  packages/components/tour/style.scss
Due: stylelint --fix

fix(components): scroller, use custom scrollbars whenever always is set and keep the thumb inside the track
  packages/components/recycle-list/README.md
  packages/components/scroller/README.md
  packages/components/scroller/__tests__/index.spec.tsx
  packages/components/scroller/bar-props.ts
  packages/components/scroller/scroller.tsx
  packages/components/scroller/track.scss
  packages/components/scroller/track.tsx
  packages/components/scroller/use-scroller.ts
  packages/components/scroller/use-wheel.ts
Due: stylelint --fix, eslint --fix

feat(components): popover, scroll the content with Scroller and add header/footer slots
  packages/components/popover/README.md
  packages/components/popover/__tests__/index.spec.tsx
  packages/components/popover/examples/sections.vue
  packages/components/popover/examples/size.vue
  packages/components/popover/popover-props.ts
  packages/components/popover/popover-view-props.ts
  packages/components/popover/popover-view.tsx
  packages/components/popover/popover.tsx
  packages/components/popover/use-pos.ts
  packages/components/popover/utils.ts
  packages/components/popover/wrapper.scss
Due: stylelint --fix, eslint --fix

feat(components): dropdown, forward header/footer slots and scroller props to the popover
  packages/components/dropdown/README.md
  packages/components/dropdown/__tests__/index.spec.tsx
  packages/components/dropdown/dropdown-props.ts
  packages/components/dropdown/dropdown.tsx
Due: eslint --fix

feat(components): popconfirm, keep the title and buttons fixed while the content scrolls
  packages/components/popconfirm/README.md
  packages/components/popconfirm/__tests__/index.spec.tsx
  packages/components/popconfirm/examples/index.vue
  packages/components/popconfirm/popconfirm.tsx
  packages/components/popconfirm/style.scss
Due: stylelint --fix, eslint --fix

feat(components): drawer, add scrollerOptions and let scrollable turn off the built-in scroller
  packages/components/drawer/README.md
  packages/components/drawer/__tests__/index.spec.tsx
  packages/components/drawer/drawer-view-props.ts
  packages/components/drawer/drawer-view.tsx
  packages/components/drawer/examples/index.vue
  packages/components/drawer/examples/scrollable.vue
  packages/components/drawer/style.scss
Due: stylelint --fix, eslint --fix

feat(components): tour, build the bubble from the popover header/content/footer slots
  packages/components/tour/README.md
  packages/components/tour/__tests__/index.spec.tsx
  packages/components/tour/style.scss
  packages/components/tour/tour-view.tsx
Due: stylelint --fix, eslint --fix

feat(components): modal, add scrollerOptions, height="auto" and let scrollable turn off the built-in scroller
  packages/components/modal/README.md
  packages/components/modal/__tests__/index.spec.tsx
  packages/components/modal/examples/height.vue
  packages/components/modal/examples/index.vue
  packages/components/modal/examples/scrollable.vue
  packages/components/modal/modal-view-props.ts
  packages/components/modal/modal-view.tsx
  packages/components/modal/style.scss
Due: stylelint --fix, eslint --fix

style(components): cascader, scroll the columns with Scroller and avoid nested scrolling
  packages/components/cascader/__tests__/index.spec.tsx
  packages/components/cascader/cascader.scss
  packages/components/cascader/cascader.tsx
  packages/components/cascader/column.scss
  packages/components/cascader/column.tsx
Due: stylelint --fix, eslint --fix

style(components): select, scroll the options with the popover's built-in scroller
  packages/components/select/__tests__/index.spec.tsx
  packages/components/select/select.scss
  packages/components/select/select.tsx
Due: stylelint --fix, eslint --fix

style(components): table, keep the filter buttons fixed while the options scroll
  packages/components/table/__tests__/index.spec.tsx
  packages/components/table/__tests__/locale.spec.tsx
  packages/components/table/table-header/table-filter.scss
  packages/components/table/table-header/table-filter.tsx
Due: stylelint --fix, eslint --fix

style(components): tree-select, avoid nested scrolling in the popup
  packages/components/tree/__tests__/index.spec.tsx
  packages/components/tree/tree-select-content.tsx
  packages/components/tree/tree-select.scss
  packages/components/tree/tree-select.tsx
Due: stylelint --fix, eslint --fix

style(components): date-picker, scroll the time columns with Scroller
  packages/components/date-picker/__tests__/index.spec.tsx
  packages/components/date-picker/panel/base/style/time-select.scss
  packages/components/date-picker/panel/base/time-select.tsx
  packages/components/date-picker/panel/style/time-range.scss
  packages/components/date-picker/panel/style/time.scss
  packages/components/date-picker/picker/base.tsx
  packages/components/date-picker/picker/time-picker.tsx
Due: stylelint --fix, eslint --fix

fix(components): modal, center by layout and stop pinning the height by script
  packages/components/modal/README.md
  packages/components/modal/__tests__/index.spec.tsx
  packages/components/modal/examples/refit.vue
  packages/components/modal/mobile/modal-view.tsx
  packages/components/modal/mobile/style.scss
  packages/components/modal/modal-view.tsx
  packages/components/modal/style.scss
Due: stylelint --fix, eslint --fix

style(components): table, remove the delay prop
  packages/components/table/README.md
  packages/components/table/__tests__/index.spec.tsx
  packages/components/table/examples/affix.vue
  packages/components/table/examples/popup.vue
  packages/components/table/table-body/table-body.tsx
  packages/components/table/table-props.ts
Due: eslint --fix

style(components): toast, center by layout instead of transform
  packages/components/toast/mobile/style.scss
Due: stylelint --fix

style(components): popup, center by layout so the content is not squeezed to half the viewport
  packages/components/file-preview/preview/audio.scss
  packages/components/file-preview/preview/video.scss
  packages/components/popup/mobile/style.scss
  packages/components/style/mixins.scss
Due: stylelint --fix

style(components): tour, center the card without a target by layout
  packages/components/tour/style.scss
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: **/*.{css,scss}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx,md}
