Repository deot/vc: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "**/*.{css,scss}": [
    "stylelint --fix"
  ],
  "**/*.{js,ts,jsx,tsx,md}": [
    "eslint --fix"
  ]
}

docs: progress, rewrite README and theme remaining colors
  packages/components/progress/README.md
  packages/components/progress/progress-props.ts
  packages/components/progress/style.scss
Due: stylelint --fix, eslint --fix

docs: fragment, rewrite README to match current API
  packages/components/fragment/README.md
Due: eslint --fix

docs: divider, rewrite README to match current API
  packages/components/divider/README.md
Due: eslint --fix

docs: defer, rewrite README to match current API
  packages/components/defer/README.md
Due: eslint --fix

docs: list, rewrite README to match current API
  packages/components/list/README.md
Due: eslint --fix

docs: resizer, rewrite README to match current API
  packages/components/resizer/README.md
Due: eslint --fix

docs: theme, rewrite README to match current API
  packages/components/theme/README.md
Due: eslint --fix

docs: image-processor, rewrite README to match current API
  packages/components/image-processor/README.md
Due: eslint --fix

chore: update component-audit skill
  .agents/skills/component-audit/references/readme.md
Due: eslint --fix

feat: drawer, localize default buttons and theme
  packages/components/drawer/README.md
  packages/components/drawer/__tests__/index.spec.tsx
  packages/components/drawer/drawer-view-props.ts
  packages/components/drawer/drawer-view.tsx
  packages/components/drawer/style.scss
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: stylelint --fix, eslint --fix

docs: modal, playground auto-height
  packages/components/modal/README.md
Due: eslint --fix

docs: portal, rewrite README to match current API
  packages/components/portal/README.md
  packages/components/portal/__tests__/index.spec.tsx
Due: eslint --fix

docs: popover, rewrite README and theme remaining colors
  packages/components/popover/README.md
  packages/components/popover/wrapper.scss
Due: stylelint --fix, eslint --fix

chore: deps updated(@deot/docs)
  package.json
  pnpm-lock.yaml
Due: none

docs: polish playground demos
  packages/components/action-sheet/README.md
  packages/components/affix/README.md
  packages/components/alert/README.md
  packages/components/artboard/README.md
  packages/components/card/README.md
  packages/components/carousel/README.md
  packages/components/clipboard/README.md
  packages/components/collapse/README.md
  packages/components/countdown/README.md
  packages/components/counter/README.md
  packages/components/customer/README.md
  packages/components/debounce/README.md
  packages/components/defer/README.md
  packages/components/divider/README.md
  packages/components/expand/README.md
  packages/components/icon/README.md
  packages/components/image-processor/README.md
  packages/components/image/README.md
  packages/components/marquee/README.md
  packages/components/message/README.md
  packages/components/print/README.md
  packages/components/progress/README.md
  packages/components/resizer/README.md
  packages/components/spin/README.md
  packages/components/text/README.md
  packages/components/theme/README.md
Due: eslint --fix

fix: keep playground interpolations jekyll-safe
  packages/components/collapse/README.md
  packages/components/icon/README.md
Due: eslint --fix

refactor: recycle-list, split viewport for inner and external scroll
  packages/components/recycle-list/__tests__/index.spec.tsx
  packages/components/recycle-list/__tests__/viewport.spec.ts
  packages/components/recycle-list/container-props.ts
  packages/components/recycle-list/container.tsx
  packages/components/recycle-list/recycle-list.tsx
  packages/components/recycle-list/store/base-watcher.ts
  packages/components/recycle-list/store/index.ts
  packages/components/recycle-list/store/layout.ts
  packages/components/recycle-list/store/local.ts
  packages/components/recycle-list/store/node.ts
  packages/components/recycle-list/store/nodes.ts
  packages/components/recycle-list/store/position.ts
  packages/components/recycle-list/store/scroll.ts
  packages/components/recycle-list/store/store.ts
  packages/components/recycle-list/use-direction-keys.ts
  packages/components/recycle-list/viewport.ts
  packages/components/recycle-list/viewport/carrier.ts
  packages/components/recycle-list/viewport/dom.ts
  packages/components/recycle-list/viewport/external.ts
  packages/components/recycle-list/viewport/index.ts
  packages/components/recycle-list/viewport/inner.ts
  packages/components/recycle-list/viewport/registry.ts
  packages/components/recycle-list/viewport/types.ts
Due: eslint --fix

docs: toast, rewrite README and theme remaining colors
  packages/components/toast/README.md
  packages/components/toast/mobile/style.scss
Due: stylelint --fix, eslint --fix

docs: image-crop, rewrite README to match current API
  packages/components/image-crop/README.md
Due: eslint --fix

docs: snapshot, rewrite README to match current API
  packages/components/snapshot/README.md
  packages/components/snapshot/__tests__/index.spec.tsx
  packages/components/snapshot/snapshot.tsx
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: eslint --fix

feat: input, localize default texts and theme remaining colors
  packages/components/input/README.md
  packages/components/input/__tests__/input-number.spec.tsx
  packages/components/input/__tests__/input-search.spec.tsx
  packages/components/input/input.scss
  packages/components/input/mobile/input-number.scss
  packages/components/input/mobile/input-search.scss
  packages/components/input/mobile/input-search.tsx
  packages/components/input/use-input-number.ts
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: stylelint --fix, eslint --fix

docs: textarea, rewrite README and theme remaining colors
  packages/components/textarea/README.md
  packages/components/textarea/mobile/style.scss
  packages/components/textarea/style.scss
Due: stylelint --fix, eslint --fix

docs: use playground.run for overlay demos
  packages/components/action-sheet/README.md
  packages/components/drawer/README.md
  packages/components/message/README.md
  packages/components/modal/README.md
  packages/components/portal/README.md
  packages/components/toast/README.md
Due: eslint --fix

fix: scroller, apply track styles and rewrite README
  packages/components/scroller/README.md
  packages/components/scroller/__tests__/index.spec.tsx
  packages/components/scroller/scroll-analysis.md
  packages/components/scroller/scroller-wheel.tsx
  packages/components/scroller/scroller.tsx
  packages/components/scroller/track.scss
  packages/components/scroller/track.tsx
Due: stylelint --fix, eslint --fix

refactor: recycle-list, split viewport for inner and external scroll
  packages/components/recycle-list/__tests__/index.spec.tsx
  packages/components/recycle-list/__tests__/viewport.spec.ts
  packages/components/recycle-list/container-props.ts
  packages/components/recycle-list/container.tsx
  packages/components/recycle-list/recycle-list.tsx
  packages/components/recycle-list/store/base-watcher.ts
  packages/components/recycle-list/store/index.ts
  packages/components/recycle-list/store/layout.ts
  packages/components/recycle-list/store/local.ts
  packages/components/recycle-list/store/node.ts
  packages/components/recycle-list/store/nodes.ts
  packages/components/recycle-list/store/position.ts
  packages/components/recycle-list/store/scroll.ts
  packages/components/recycle-list/store/store.ts
  packages/components/recycle-list/use-direction-keys.ts
  packages/components/recycle-list/viewport.ts
  packages/components/recycle-list/viewport/external/carrier.ts
  packages/components/recycle-list/viewport/external/dom.ts
  packages/components/recycle-list/viewport/external/index.ts
  packages/components/recycle-list/viewport/external/registry.ts
  packages/components/recycle-list/viewport/index.ts
  packages/components/recycle-list/viewport/inner/index.ts
  packages/components/recycle-list/viewport/types.ts
  packages/components/recycle-list/viewport/viewport.ts
Due: eslint --fix

perf: defer, adapt slice size to the frame budget and emit progress
  packages/components/defer/README.md
  packages/components/defer/__tests__/index.spec.tsx
  packages/components/defer/defer.tsx
  packages/components/defer/utils.ts
Due: eslint --fix

feat: recycle-list, hold trailing content and keep measured sizes with data items
  packages/components/recycle-list/README.md
  packages/components/recycle-list/__tests__/external.spec.tsx
  packages/components/recycle-list/__tests__/index.spec.tsx
  packages/components/recycle-list/__tests__/measure.spec.tsx
  packages/components/recycle-list/container.tsx
  packages/components/recycle-list/examples/data-source.vue
  packages/components/recycle-list/examples/external-horizontal.vue
  packages/components/recycle-list/examples/external-scroller.vue
  packages/components/recycle-list/examples/external-window.vue
  packages/components/recycle-list/examples/skeleton.vue
  packages/components/recycle-list/hooks/use-direction-keys.ts
  packages/components/recycle-list/hooks/use-load-state.ts
  packages/components/recycle-list/hooks/use-measure.ts
  packages/components/recycle-list/hooks/use-renderer.ts
  packages/components/recycle-list/hooks/use-scroll-lock.ts
  packages/components/recycle-list/index.ts
  packages/components/recycle-list/recycle-list-props.ts
  packages/components/recycle-list/recycle-list.tsx
  packages/components/recycle-list/scroll-state.tsx
  packages/components/recycle-list/store/base-watcher.ts
  packages/components/recycle-list/store/index.ts
  packages/components/recycle-list/store/layout.ts
  packages/components/recycle-list/store/node.ts
  packages/components/recycle-list/store/nodes.ts
  packages/components/recycle-list/store/store.ts
  packages/components/recycle-list/style.scss
  packages/components/recycle-list/viewport/external/index.ts
  packages/components/recycle-list/viewport/external/registry.ts
  packages/components/recycle-list/viewport/inner/index.ts
  packages/components/recycle-list/viewport/types.ts
  packages/components/recycle-list/viewport/viewport.ts
Due: stylelint --fix, eslint --fix

feat: table, hold trailing content and reuse blocks with their row data
  packages/components/table/README.md
  packages/components/table/__tests__/index.spec.tsx
  packages/components/table/examples/virtualized-scroller.vue
  packages/components/table/examples/virtualized-window.vue
  packages/components/table/hooks/use-lazy-tail.ts
  packages/components/table/hooks/use-props-sync.ts
  packages/components/table/hooks/use-scroll-sync.ts
  packages/components/table/hooks/use-wheel-forward.ts
  packages/components/table/store/modules/block.ts
  packages/components/table/store/store.ts
  packages/components/table/table-body/table-body-block.tsx
  packages/components/table/table-body/table-body.tsx
  packages/components/table/table-props.ts
  packages/components/table/table.tsx
Due: eslint --fix

fix: recycle-list, correct only the resized row on content change
  .gitignore
  packages/components/recycle-list/README.md
  packages/components/recycle-list/__tests__/index.spec.tsx
  packages/components/recycle-list/recycle-list.tsx
Due: eslint --fix

refactor: table, rebuild tree and expand state by row identity
  packages/components/table/README.md
  packages/components/table/__tests__/index.spec.tsx
  packages/components/table/examples/expand.vue
  packages/components/table/examples/tree.vue
  packages/components/table/examples/virtualized-scroller.vue
  packages/components/table/hooks/use-props-sync.ts
  packages/components/table/store/base-watcher.ts
  packages/components/table/store/modules/block.ts
  packages/components/table/store/modules/expand.ts
  packages/components/table/store/modules/layout.ts
  packages/components/table/store/modules/row.ts
  packages/components/table/store/modules/selection.ts
  packages/components/table/store/modules/tree.ts
  packages/components/table/store/store.ts
  packages/components/table/store/utils.ts
  packages/components/table/table-body/table-body-block.tsx
  packages/components/table/table-body/table-expand.tsx
  packages/components/table/table-column/table-column-confg.tsx
  packages/components/table/table-column/table-column-node.tsx
  packages/components/table/table.scss
  packages/components/table/table.tsx
  packages/components/table/types.ts
  packages/components/table/utils.ts
Due: stylelint --fix, eslint --fix

feat: select, localize default texts and theme remaining colors
  packages/components/select/README.md
  packages/components/select/__tests__/index.spec.tsx
  packages/components/select/option-group.scss
  packages/components/select/option.scss
  packages/components/select/select-all.scss
  packages/components/select/select-all.tsx
  packages/components/select/select.scss
  packages/components/select/select.tsx
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: stylelint --fix, eslint --fix

fix: tabs, apply sticky bar class and rewrite README
  packages/components/tabs/README.md
  packages/components/tabs/__tests__/index.spec.tsx
  packages/components/tabs/examples/mobile.vue
  packages/components/tabs/mobile/tabs.scss
  packages/components/tabs/mobile/tabs.tsx
  packages/components/tabs/tabs.scss
Due: stylelint --fix, eslint --fix

feat: date-picker, localize default texts and theme remaining colors
  packages/components/date-picker/README.md
  packages/components/date-picker/__tests__/index.spec.tsx
  packages/components/date-picker/__tests__/locale.spec.tsx
  packages/components/date-picker/constants.ts
  packages/components/date-picker/helper/utils.ts
  packages/components/date-picker/mobile/date-picker-core.tsx
  packages/components/date-picker/mobile/date-picker-props.ts
  packages/components/date-picker/mobile/date-picker-view.tsx
  packages/components/date-picker/mobile/date-picker.tsx
  packages/components/date-picker/mobile/utils.ts
  packages/components/date-picker/panel/base/confirm.tsx
  packages/components/date-picker/panel/base/date-header.tsx
  packages/components/date-picker/panel/base/date-table.tsx
  packages/components/date-picker/panel/base/month-table.tsx
  packages/components/date-picker/panel/base/quarter-table.tsx
  packages/components/date-picker/panel/base/style/confirm.scss
  packages/components/date-picker/panel/base/style/date-header.scss
  packages/components/date-picker/panel/base/style/date-table.scss
  packages/components/date-picker/panel/base/style/month-table.scss
  packages/components/date-picker/panel/base/style/quarter-table.scss
  packages/components/date-picker/panel/base/style/shortcuts-select.scss
  packages/components/date-picker/panel/base/style/time-select.scss
  packages/components/date-picker/panel/base/style/year-table.scss
  packages/components/date-picker/panel/date-range.tsx
  packages/components/date-picker/panel/style/date-range.scss
  packages/components/date-picker/panel/style/time-range.scss
  packages/components/date-picker/panel/time-range.tsx
  packages/components/date-picker/picker/base.scss
  packages/components/date-picker/picker/base.tsx
  packages/components/time-picker/README.md
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: stylelint --fix, eslint --fix

fix: radio, apply trueValue and vertical class
  packages/components/radio/README.md
  packages/components/radio/__tests__/index.spec.tsx
  packages/components/radio/mobile/radio-group.scss
  packages/components/radio/mobile/radio-group.tsx
  packages/components/radio/mobile/radio.scss
  packages/components/radio/radio-button.scss
  packages/components/radio/radio-group.scss
  packages/components/radio/radio.scss
  packages/components/radio/use-radio.ts
Due: stylelint --fix, eslint --fix

docs: checkbox, rewrite README and theme remaining colors
  packages/components/checkbox/README.md
  packages/components/checkbox/checkbox-group.scss
  packages/components/checkbox/checkbox.scss
  packages/components/checkbox/mobile/checkbox-group.scss
  packages/components/checkbox/mobile/checkbox.scss
Due: stylelint --fix, eslint --fix

feat: editor, localize default texts and theme remaining colors
  packages/components/editor/README.md
  packages/components/editor/__tests__/index.spec.tsx
  packages/components/editor/default-options.ts
  packages/components/editor/editor.scss
  packages/components/editor/editor.tsx
  packages/components/editor/reset.scss
  packages/components/editor/style.scss
  packages/components/editor/theme.scss
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: stylelint --fix, eslint --fix

docs: switch, rewrite README and theme remaining colors
  packages/components/switch/README.md
  packages/components/switch/examples/index.vue
  packages/components/switch/examples/mobile.vue
  packages/components/switch/mobile/style.scss
  packages/components/switch/mobile/switch.tsx
  packages/components/switch/style.scss
  packages/components/switch/switch.tsx
Due: stylelint --fix, eslint --fix

docs: form, rewrite README and theme remaining colors
  packages/components/form/README.md
  packages/components/form/mobile/style.scss
  packages/components/form/style.scss
Due: stylelint --fix, eslint --fix

docs: slider, rewrite README to match current API
  packages/components/slider/README.md
Due: eslint --fix

docs: sort-list, rewrite README and theme remaining colors
  packages/components/sort-list/README.md
  packages/components/sort-list/style.scss
Due: stylelint --fix, eslint --fix
