Repository deot/vc: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

style: radio, remove gap prop
  packages/components/radio/mobile/radio.scss
  packages/components/radio/radio-button.scss
  packages/components/radio/radio-button.tsx
  packages/components/radio/radio-props.ts
  packages/components/radio/radio.scss
  packages/components/radio/use-radio.ts
Due: stylelint --fix, eslint --fix

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/index/CHANGELOG.md
  packages/index/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  pnpm-lock.yaml
Due: eslint --fix

fix: radio, allow disable when group set
  packages/components/form/examples/index.vue
  packages/components/radio/examples/index.vue
  packages/components/radio/mobile/radio.tsx
  packages/components/radio/radio-button.scss
  packages/components/radio/radio-button.tsx
  packages/components/radio/radio.tsx
Due: stylelint --fix, eslint --fix

style: textarea, remove style effect
  packages/components/textarea/style.scss
Due: stylelint --fix

style: input-number, append slot priority
  packages/components/input/input-number.tsx
Due: eslint --fix

feat: snapshot, initial commit(html-to-image)
  packages/components/html-to-image/__tests__/index.spec.tsx
  packages/components/html-to-image/examples/index.vue
  packages/components/html-to-image/html-to-image-props.ts
  packages/components/html-to-image/html-to-image.tsx
  packages/components/html-to-image/index.m.ts
  packages/components/html-to-image/index.ts
  packages/components/index.ts
  packages/components/package.json
  packages/components/snapshot/README.md
  packages/components/snapshot/__tests__/index.spec.tsx
  packages/components/snapshot/examples/index.vue
  packages/components/snapshot/index.m.ts
  packages/components/snapshot/index.ts
  packages/components/snapshot/snapshot-props.ts
  packages/components/snapshot/snapshot.tsx
  packages/components/snapshot/style.scss
  packages/index/src/index.ts
  pnpm-lock.yaml
Due: stylelint --fix, eslint --fix

feat: snapshot, expose instance when global use
  packages/components/snapshot/README.md
  packages/components/snapshot/snapshot-props.ts
  packages/components/snapshot/snapshot.tsx
  packages/components/vc/options.ts
Due: eslint --fix

fix: snapshot, rebuild snapdom when updated
  packages/components/snapshot/examples/index.vue
  packages/components/snapshot/snapshot.tsx
  packages/components/upload/upload.ts
Due: eslint --fix

feat: snapshot, add loading when download & lazy exposed
  packages/components/snapshot/snapshot-props.ts
  packages/components/snapshot/snapshot.tsx
Due: eslint --fix

feat: snapshot, snapdom -> snapshot & showLoading
  packages/components/snapshot/snapshot-props.ts
  packages/components/snapshot/snapshot.tsx
  packages/components/vc/options.ts
Due: eslint --fix

docs: snapshot, add pdf example
  packages/components/snapshot/README.md
  packages/components/snapshot/examples/index.vue
  packages/components/snapshot/examples/pdf.vue
Due: eslint --fix

feat: editor, custom class -> style inline
  packages/components/editor/editor.tsx
  packages/components/editor/extends/font-size.ts
  packages/components/editor/extends/letter-spacing.ts
  packages/components/editor/extends/line-height.ts
  packages/components/editor/toolbar.tsx
  packages/components/editor/utils.ts
Due: eslint --fix

fix: editor, toolbar need prevent default
  packages/components/editor/toolbar.tsx
Due: eslint --fix

feat: table, batch resize
  packages/components/recycle-list/recycle-list.tsx
  packages/components/table/examples/index.vue
  packages/components/table/normal-list/normal-list.tsx
  packages/components/table/table-body.tsx
Due: eslint --fix

feat: recycle-list, pageSize
  packages/components/recycle-list/recycle-list.tsx
Due: eslint --fix

feat: table, batch resize
  packages/components/recycle-list/README.md
  packages/components/recycle-list/recycle-list.tsx
  packages/components/table/examples/index.vue
  packages/components/table/examples/max-height.vue
  packages/components/table/normal-list/normal-list.tsx
  packages/components/table/table-body.tsx
Due: eslint --fix

feat: table, withMemo(todo)
  packages/components/recycle-list/recycle-list.tsx
  packages/components/table/normal-list/normal-list.tsx
  packages/components/table/table-body.tsx
Due: eslint --fix

chore: deps updated
  package.json
  pnpm-lock.yaml
Due: none

feat: resizer, fill-width & fill-height alone
  packages/components/resizer/examples/index.vue
  packages/components/resizer/examples/layout.vue
  packages/components/resizer/examples/mins.vue
  packages/components/resizer/resizer-props.ts
  packages/components/resizer/resizer.ts
  packages/components/resizer/style.scss
Due: stylelint --fix, eslint --fix

feat: dropdown, allow emtry string as value
  packages/components/dropdown/dropdown-item.tsx
Due: eslint --fix

chore: deps updated
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: chart, refresh exposed
  packages/components/chart/chart.tsx
  packages/components/chart/examples/index.vue
Due: eslint --fix

feat: counter, initial commit
  packages/components/counter/README.md
  packages/components/counter/__tests__/index.spec.tsx
  packages/components/counter/counter-props.ts
  packages/components/counter/counter.tsx
  packages/components/counter/examples/index.vue
  packages/components/counter/index.m.ts
  packages/components/counter/index.ts
  packages/components/counter/style.scss
  packages/components/counter/utils.ts
  packages/components/index.ts
  packages/index/src/index.ts
Due: stylelint --fix, eslint --fix

feat: countdown, finish -> complete
  packages/components/countdown/README.md
  packages/components/countdown/countdown.tsx
  packages/components/countdown/examples/index.vue
Due: eslint --fix

feat: recycle-list, finish -> complete
  packages/components/recycle-list/README.md
  packages/components/recycle-list/recycle-list-props.ts
  packages/components/recycle-list/recycle-list.tsx
  packages/components/recycle-list/scroll-state.tsx
  packages/components/recycle-list/style.scss
  packages/components/steps/README.md
  packages/components/vc/options.ts
Due: stylelint --fix, eslint --fix

feat: counter, add change event
  packages/components/counter/README.md
  packages/components/counter/counter.tsx
  packages/components/counter/examples/index.vue
Due: eslint --fix

docs: chart, memory leak tip
  packages/components/chart/chart.tsx
Due: eslint --fix

chore: deps updated
  packages/components/package.json
  pnpm-lock.yaml
Due: none

fix: dropdown, avoid click trigger twice
  packages/components/dropdown/dropdown-item.tsx
Due: eslint --fix

feat: counter, allow lazy define & illegal string
  packages/components/counter/counter.tsx
  packages/components/counter/examples/index.vue
Due: eslint --fix

Path conditions:
  stylelint --fix: any of: **/*.{css,scss}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx,md}
