Repository deot/vc: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

feat: recycle-list, shared store supported
  packages/components/recycle-list/__tests__/index.spec.tsx
  packages/components/recycle-list/examples/shared-store.vue
  packages/components/recycle-list/index.ts
  packages/components/recycle-list/recycle-list-props.ts
  packages/components/recycle-list/recycle-list.tsx
  packages/components/recycle-list/scroll-state.tsx
  packages/components/recycle-list/store.ts
Due: eslint --fix

fix: popover, trigger close first
  packages/components/popover/wrapper.tsx
Due: eslint --fix

fix: cascader, avoid sync changed
  packages/components/cascader/cascader.tsx
Due: eslint --fix

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/index/CHANGELOG.md
  packages/index/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  pnpm-lock.yaml
Due: eslint --fix

feat: image-preview, zoom-level & options
  packages/components/image-preview/photoswipe/index.ts
Due: eslint --fix

chore: deps updated
  package.json
  pnpm-lock.yaml
Due: none

style: sass if-function changed
  packages/components/style/functions.scss
  packages/components/style/mixins.scss
  packages/components/style/variables.scss
Due: stylelint --fix

feat: select, allow select all when multiple & batch match
  packages/components/select/option.tsx
  packages/components/select/select-all.scss
  packages/components/select/select-all.tsx
  packages/components/select/select.scss
  packages/components/select/select.tsx
  packages/components/select/style.scss
Due: stylelint --fix, eslint --fix

style: select, searchRegex calculate in advance
  packages/components/select/option.tsx
  packages/components/select/select.tsx
Due: eslint --fix

fix: input-number, hide when disabled
  packages/components/input/examples/input-number.vue
  packages/components/input/input-number.scss
Due: stylelint --fix

style: lint-style fixed
  packages/components/affix/style.scss
  packages/components/button/button.scss
  packages/components/modal/mobile/style.scss
  packages/components/modal/style.scss
  packages/components/radio/mobile/radio.scss
  packages/components/radio/radio-button.scss
  packages/components/radio/radio.scss
  packages/components/style/mixins.scss
  packages/components/table/table-sort.scss
  packages/components/table/table.scss
  packages/components/textarea/style.scss
Due: stylelint --fix

feat: table, resizable supported
  packages/components/scroller/use-scroller.ts
  packages/components/table/README.md
  packages/components/table/examples/index.vue
  packages/components/table/table-header.tsx
  packages/components/table/table-props.ts
  packages/components/table/table.tsx
Due: eslint --fix

feat: table, empty center
  packages/components/table/examples/empty.vue
  packages/components/table/table.scss
  packages/components/table/table.tsx
Due: stylelint --fix, eslint --fix

feat: countdown, display immediately
  packages/components/countdown/countdown.tsx
Due: eslint --fix

feat: table, drag line when border without
  packages/components/table/README.md
  packages/components/table/table-header.tsx
  packages/components/table/table.scss
Due: stylelint --fix, eslint --fix

feat: recycle-list, render only the viewport content & allow set the buffer size
  packages/components/recycle-list/recycle-list-props.ts
  packages/components/recycle-list/recycle-list.tsx
  packages/components/recycle-list/store.ts
Due: eslint --fix

feat: recycle-list, visible range -> store
  packages/components/recycle-list/container.tsx
  packages/components/recycle-list/recycle-list.tsx
  packages/components/recycle-list/store.ts
  packages/components/recycle-list/style.scss
  packages/components/table/examples/index.vue
Due: stylelint --fix, eslint --fix

perf: recycle-list, minimize traversal overhead
  packages/components/recycle-list/store.ts
Due: eslint --fix

perf: table, batch toggle selection
  packages/components/table/store/store.ts
Due: eslint --fix

feat: defer, initial commit
  packages/components/defer/README.md
  packages/components/defer/__tests__/index.spec.tsx
  packages/components/defer/defer.tsx
  packages/components/defer/examples/index.vue
  packages/components/defer/index.m.ts
  packages/components/defer/index.ts
  packages/components/index.ts
  packages/components/package.json
  packages/index/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix

feat: recycle-list, temp
  packages/components/recycle-list/recycle-list.tsx
Due: eslint --fix

feat: defer, initial commit & reuqestIdelCallback custom
  packages/components/defer/README.md
  packages/components/defer/__tests__/index.spec.tsx
  packages/components/defer/defer.tsx
  packages/components/defer/examples/index.vue
  packages/components/defer/index.m.ts
  packages/components/defer/index.ts
  packages/components/defer/ric.ts
  packages/components/index.ts
  packages/components/package.json
  packages/index/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix

feat: recycle-list, render with defer
  packages/components/defer/defer.tsx
  packages/components/recycle-list/recycle-list.tsx
  packages/components/recycle-list/store.ts
Due: eslint --fix

feat: carousel, initial commit
  packages/components/carousel/README.md
  packages/components/carousel/carousel-item-props.ts
  packages/components/carousel/carousel-item.scss
  packages/components/carousel/carousel-item.tsx
  packages/components/carousel/carousel-props.ts
  packages/components/carousel/carousel.scss
  packages/components/carousel/carousel.tsx
  packages/components/carousel/examples/index.vue
  packages/components/carousel/examples/mobile-basic.vue
  packages/components/carousel/examples/mobile-slide.vue
  packages/components/carousel/index.m.ts
  packages/components/carousel/index.ts
  packages/components/carousel/mobile/carousel-item.scss
  packages/components/carousel/mobile/carousel-item.tsx
  packages/components/carousel/mobile/carousel.scss
  packages/components/carousel/mobile/carousel.tsx
  packages/components/carousel/mobile/style.scss
  packages/components/carousel/use-carousel-item.ts
  packages/components/carousel/use-carousel.ts
  packages/components/recycle-list/examples/operate.vue
  packages/index/src/index.ts
Due: stylelint --fix, eslint --fix

perf: recycle-list, todo
  packages/components/defer/defer.tsx
  packages/components/recycle-list/examples/data-source.vue
  packages/components/recycle-list/recycle-list.tsx
  packages/components/table/examples/index.vue
Due: eslint --fix

style: #2d8cf0 -> #456CF6
  packages/components/checkbox/checkbox.scss
  packages/components/date-picker/panel/base/style/date-header.scss
  packages/components/date-picker/panel/base/style/date-table.scss
  packages/components/date-picker/panel/base/style/month-table.scss
  packages/components/date-picker/panel/base/style/quarter-table.scss
  packages/components/date-picker/panel/base/style/time-select.scss
  packages/components/date-picker/panel/base/style/year-table.scss
  packages/components/progress/README.md
  packages/components/progress/progress-props.ts
  packages/components/radio/radio-group.scss
Due: stylelint --fix, eslint --fix

feat: tree-select, add cascader style
  packages/components/tree/examples/index.vue
  packages/components/tree/tree-select-content-cascader.tsx
  packages/components/tree/tree-select-content.tsx
  packages/components/tree/tree-select-props.ts
  packages/components/tree/tree-select.scss
  packages/components/tree/tree-select.tsx
Due: stylelint --fix, eslint --fix

Path conditions:
  stylelint --fix: any of: **/*.{css,scss}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx,md}
