Repository deot/vc: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

fix: portal, stop alive reuse from appending empty containers and fix memory examples
  packages/components/portal/README.md
  packages/components/portal/__tests__/index.spec.tsx
  packages/components/portal/examples/memory-alive.vue
  packages/components/portal/examples/memory-basic.vue
  packages/components/portal/examples/memory-native.vue
  packages/components/portal/examples/memory-portal.vue
  packages/components/portal/examples/memory-transition-native.vue
  packages/components/portal/examples/memory-transition-portal.vue
  packages/components/portal/portal-leaf.ts
  packages/components/portal/portal.ts
Due: eslint --fix

test: select, use fake timers in loadData loading spin test
  packages/components/select/__tests__/index.spec.tsx
Due: eslint --fix

docs: transition, restore the DevTools memory tip
  packages/components/select/examples/index.vue
  packages/components/transition/README.md
  packages/components/transition/use-transition.ts
Due: eslint --fix

feat: recycle-list, support pull-up refresh in inverted mode
  packages/components/recycle-list/README.md
  packages/components/recycle-list/__tests__/external.spec.tsx
  packages/components/recycle-list/__tests__/index.spec.tsx
  packages/components/recycle-list/container-props.ts
  packages/components/recycle-list/container.tsx
  packages/components/recycle-list/examples/inverted-pullable.vue
  packages/components/recycle-list/hooks/use-direction-keys.ts
  packages/components/recycle-list/recycle-list.tsx
  packages/components/recycle-list/scroll-state.tsx
  packages/components/recycle-list/style.scss
  packages/components/recycle-list/viewport/external/index.ts
  packages/components/recycle-list/viewport/inner/index.ts
  packages/components/recycle-list/viewport/types.ts
  packages/components/recycle-list/viewport/viewport.ts
Due: stylelint --fix, eslint --fix

fix: recycle-list, keep the visible range inside rebuildData on the first inverted build
  packages/components/recycle-list/__tests__/index.spec.tsx
  packages/components/recycle-list/store/nodes.ts
  packages/components/recycle-list/store/store.ts
Due: eslint --fix

fix: icon, apply the waiting limit only after icon sets finish loading
  packages/components/icon/__tests__/index.spec.tsx
  packages/components/icon/manager.ts
Due: eslint --fix

refactor: recycle-list, export bisect helpers and ExternalCarrier.contentOrigin
  packages/components/recycle-list/store/position.ts
  packages/components/recycle-list/viewport/external/carrier.ts
Due: eslint --fix

feat: table, support drag sorting by block
  packages/components/table/README.md
  packages/components/table/__tests__/block-drag.spec.tsx
  packages/components/table/examples/drag.vue
  packages/components/table/hooks/use-block-drag.ts
  packages/components/table/store/base-watcher.ts
  packages/components/table/store/modules/drag.ts
  packages/components/table/store/modules/index.ts
  packages/components/table/store/store.ts
  packages/components/table/table-body/table-body-block.tsx
  packages/components/table/table-column/table-column-config.tsx
  packages/components/table/table-props.ts
  packages/components/table/table.scss
  packages/components/table/table.tsx
  packages/components/table/types.ts
Due: stylelint --fix, eslint --fix

feat: table, support drag sorting in tree tables
  packages/components/table/README.md
  packages/components/table/__tests__/block-drag.spec.tsx
  packages/components/table/examples/drag-tree.vue
  packages/components/table/examples/drag.vue
  packages/components/table/hooks/use-block-drag.ts
  packages/components/table/store/modules/drag.ts
  packages/components/table/store/modules/index.ts
  packages/components/table/store/modules/tree.ts
  packages/components/table/store/store.ts
  packages/components/table/table-props.ts
  packages/components/table/table.scss
  packages/components/table/types.ts
Due: stylelint --fix, eslint --fix

refactor: table, pass a single object to every event
  packages/components/table/README.md
  packages/components/table/__tests__/block-drag.spec.tsx
  packages/components/table/__tests__/index.spec.tsx
  packages/components/table/examples/drag.vue
  packages/components/table/examples/expand.vue
  packages/components/table/examples/index.vue
  packages/components/table/examples/max-height.vue
  packages/components/table/examples/row-height.vue
  packages/components/table/examples/tree.vue
  packages/components/table/hooks/use-block-drag.ts
  packages/components/table/store/modules/expand.ts
  packages/components/table/store/modules/row.ts
  packages/components/table/store/modules/selection.ts
  packages/components/table/store/modules/tree.ts
  packages/components/table/table-body/table-body-block.tsx
  packages/components/table/table-header/table-header.tsx
  packages/components/table/table.tsx
  packages/components/table/types.ts
Due: eslint --fix

refactor: table, name DOM-mirroring events after native events
  packages/components/table/README.md
  packages/components/table/__tests__/block-drag.spec.tsx
  packages/components/table/__tests__/index.spec.tsx
  packages/components/table/examples/drag-tree.vue
  packages/components/table/examples/drag.vue
  packages/components/table/hooks/use-block-drag.ts
  packages/components/table/store/modules/drag.ts
  packages/components/table/table-body/table-body-block.tsx
  packages/components/table/table.tsx
  packages/components/table/types.ts
Due: eslint --fix

refactor: tree, pass a single object to every event and drag callback
  packages/components/tree/README.md
  packages/components/tree/__tests__/index.spec.tsx
  packages/components/tree/examples/drag.vue
  packages/components/tree/examples/events.vue
  packages/components/tree/examples/index.vue
  packages/components/tree/tree-node-content.tsx
  packages/components/tree/tree-props.ts
  packages/components/tree/tree.scss
  packages/components/tree/tree.tsx
  packages/components/tree/types.ts
  packages/components/tree/use-drag-node.ts
Due: stylelint --fix, eslint --fix

feat: table, support column drag sorting by header
  packages/components/table/README.md
  packages/components/table/__tests__/block-drag.spec.tsx
  packages/components/table/__tests__/column-drag.spec.tsx
  packages/components/table/__tests__/index.spec.tsx
  packages/components/table/examples/drag-column.vue
  packages/components/table/hooks/drag-helpers.ts
  packages/components/table/hooks/use-block-drag.ts
  packages/components/table/hooks/use-column-drag.ts
  packages/components/table/hooks/use-props-sync.ts
  packages/components/table/store/base-watcher.ts
  packages/components/table/store/modules/block.ts
  packages/components/table/store/modules/column.ts
  packages/components/table/store/modules/drag.ts
  packages/components/table/store/utils.ts
  packages/components/table/table-body/table-body-block.tsx
  packages/components/table/table-column/table-column-node.tsx
  packages/components/table/table-footer/table-footer.tsx
  packages/components/table/table-header/table-header.tsx
  packages/components/table/table-props.ts
  packages/components/table/table.scss
  packages/components/table/table.tsx
  packages/components/table/types.ts
Due: stylelint --fix, eslint --fix

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/index/CHANGELOG.md
  packages/index/package.json
  packages/locale/CHANGELOG.md
  packages/locale/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  pnpm-lock.yaml
Due: eslint --fix

feat: recycle-list, localize default texts and rewrite README
  packages/components/recycle-list/README.md
  packages/components/recycle-list/__tests__/locale.spec.tsx
  packages/components/recycle-list/container-constant.ts
  packages/components/recycle-list/container-props.ts
  packages/components/recycle-list/container.tsx
  packages/components/recycle-list/scroll-state.tsx
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: eslint --fix

feat: pagination, localize default texts and theme remaining colors
  packages/components/pagination/README.md
  packages/components/pagination/__tests__/index.spec.tsx
  packages/components/pagination/pagination.tsx
  packages/components/pagination/style.scss
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: stylelint --fix, eslint --fix

feat: table, localize default texts and theme remaining colors
  .agents/skills/component-audit/references/readme.md
  packages/components/table/README.md
  packages/components/table/__tests__/locale.spec.tsx
  packages/components/table/table-header/table-filter.scss
  packages/components/table/table-header/table-filter.tsx
  packages/components/table/table-header/table-sort.scss
  packages/components/table/table.scss
  packages/components/table/table.tsx
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: stylelint --fix, eslint --fix

docs: recycle-list, add playground demos for core interactions
  packages/components/recycle-list/README.md
Due: eslint --fix

feat: tree, localize default texts and theme remaining colors
  packages/components/tree/README.md
  packages/components/tree/__tests__/index.spec.tsx
  packages/components/tree/store/tree-node.ts
  packages/components/tree/tree-props.ts
  packages/components/tree/tree-select-content-cascader.tsx
  packages/components/tree/tree-select-content.tsx
  packages/components/tree/tree-select.scss
  packages/components/tree/tree-select.tsx
  packages/components/tree/tree.scss
  packages/components/tree/tree.tsx
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: stylelint --fix, eslint --fix

feat: upload, localize default texts and theme remaining colors
  packages/components/upload/README.md
  packages/components/upload/__tests__/locale.spec.tsx
  packages/components/upload/cycle/upload-cycle-leaf.ts
  packages/components/upload/cycle/upload-cycle.ts
  packages/components/upload/examples/local.vue
  packages/components/upload/task/context.ts
  packages/components/upload/task/style.scss
  packages/components/upload/task/task.tsx
  packages/components/upload/upload.ts
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: stylelint --fix, eslint --fix

chore: unpin CDN imports in the playground entry
  index.html
Due: none

feat: upload-picker, localize default texts and rewrite README
  packages/components/upload-picker/README.md
  packages/components/upload-picker/__tests__/index.spec.tsx
  packages/components/upload-picker/item/audio.tsx
  packages/components/upload-picker/item/file.tsx
  packages/components/upload-picker/item/image.tsx
  packages/components/upload-picker/item/video.tsx
  packages/components/upload-picker/mobile/item/audio.tsx
  packages/components/upload-picker/mobile/item/file.tsx
  packages/components/upload-picker/mobile/item/image.tsx
  packages/components/upload-picker/mobile/item/video.tsx
  packages/components/upload-picker/upload-picker.tsx
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: eslint --fix

feat: timeline, implement Timeline and TimelineItem
  packages/components/timeline/README.md
  packages/components/timeline/__tests__/index.spec.tsx
  packages/components/timeline/examples/align.vue
  packages/components/timeline/examples/center-overflow.vue
  packages/components/timeline/examples/dot.vue
  packages/components/timeline/examples/index.vue
  packages/components/timeline/examples/pending.vue
  packages/components/timeline/index.m.ts
  packages/components/timeline/index.ts
  packages/components/timeline/style.scss
  packages/components/timeline/timeline-item-props.ts
  packages/components/timeline/timeline-item.scss
  packages/components/timeline/timeline-item.tsx
  packages/components/timeline/timeline-props.ts
  packages/components/timeline/timeline.scss
  packages/components/timeline/timeline.tsx
  packages/index/src/index.ts
Due: stylelint --fix, eslint --fix

docs: dropdown, rewrite README and theme remaining colors
  packages/components/dropdown/README.md
  packages/components/dropdown/examples/states.vue
  packages/components/dropdown/style.scss
Due: stylelint --fix, eslint --fix

refactor: progress, rename status normal to default
  packages/components/progress/README.md
  packages/components/progress/progress-props.ts
  packages/components/upload-picker/item/image.tsx
Due: eslint --fix

feat: steps, implement Steps and Step
  packages/components/steps/README.md
  packages/components/steps/__tests__/index.spec.tsx
  packages/components/steps/examples/arrow.vue
  packages/components/steps/examples/dot.vue
  packages/components/steps/examples/index.vue
  packages/components/steps/examples/label-position.vue
  packages/components/steps/examples/navigation.vue
  packages/components/steps/examples/status.vue
  packages/components/steps/index.m.ts
  packages/components/steps/index.ts
  packages/components/steps/step-props.ts
  packages/components/steps/step.scss
  packages/components/steps/step.tsx
  packages/components/steps/steps-props.ts
  packages/components/steps/steps.scss
  packages/components/steps/steps.tsx
  packages/components/steps/style.scss
  packages/index/src/index.ts
Due: stylelint --fix, eslint --fix

feat: file-preview, implement FilePreview with mix and group types
  packages/components/file-preview/README.md
  packages/components/file-preview/__tests__/index.spec.tsx
  packages/components/file-preview/examples/config.vue
  packages/components/file-preview/examples/group.vue
  packages/components/file-preview/examples/index.vue
  packages/components/file-preview/examples/slot.vue
  packages/components/file-preview/file-preview-props.ts
  packages/components/file-preview/file-preview.tsx
  packages/components/file-preview/style.scss
Due: stylelint --fix, eslint --fix

feat: upload-picker, preview through FilePreview and its global hooks
  packages/components/README.md
  packages/components/upload-picker/README.md
  packages/components/upload-picker/__tests__/index.spec.tsx
  packages/components/upload-picker/examples/preview.vue
  packages/components/upload-picker/item/audio.tsx
  packages/components/upload-picker/item/file.scss
  packages/components/upload-picker/item/file.tsx
  packages/components/upload-picker/item/image.tsx
  packages/components/upload-picker/item/video.tsx
  packages/components/upload-picker/mobile/item/audio.tsx
  packages/components/upload-picker/mobile/item/file.scss
  packages/components/upload-picker/mobile/item/file.tsx
  packages/components/upload-picker/mobile/item/image.tsx
  packages/components/upload-picker/mobile/item/video.tsx
  packages/components/upload-picker/mobile/upload-picker.tsx
  packages/components/upload-picker/upload-picker-props.ts
  packages/components/upload-picker/upload-picker.tsx
  packages/components/upload-picker/use-picker.ts
  packages/components/upload-picker/utils.ts
Due: stylelint --fix, eslint --fix

docs: popup, rewrite README and theme remaining colors
  packages/components/popup/README.md
  packages/components/popup/mobile/style.scss
Due: stylelint --fix, eslint --fix

feat: popconfirm, localize default texts and rewrite README
  packages/components/popconfirm/README.md
  packages/components/popconfirm/__tests__/index.spec.tsx
  packages/components/popconfirm/examples/index.vue
  packages/components/popconfirm/popconfirm-props.ts
  packages/components/popconfirm/popconfirm.tsx
  packages/components/popconfirm/style.scss
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: stylelint --fix, eslint --fix

docs: notice, rewrite README and theme remaining colors
  packages/components/notice/README.md
  packages/components/notice/examples/index.vue
  packages/components/notice/notice-view.tsx
  packages/components/notice/style.scss
Due: stylelint --fix, eslint --fix

feat: picker, localize default texts and theme row height
  packages/components/picker/README.md
  packages/components/picker/__tests__/index.spec.tsx
  packages/components/picker/mobile/picker-col.scss
  packages/components/picker/mobile/picker-col.tsx
  packages/components/picker/mobile/picker-popup-props.ts
  packages/components/picker/mobile/picker-popup.tsx
  packages/components/picker/mobile/picker-props.ts
  packages/components/picker/mobile/picker.tsx
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: stylelint --fix, eslint --fix

docs: timeline, scale sizes with unitfix
  packages/components/timeline/README.md
  packages/components/timeline/timeline-item.scss
  packages/components/timeline/timeline.scss
Due: stylelint --fix, eslint --fix

docs: steps, scale sizes with unitfix
  packages/components/steps/README.md
  packages/components/steps/step.scss
  packages/components/steps/steps.scss
Due: stylelint --fix, eslint --fix

feat: file-preview, localize default texts and theme remaining colors
  packages/components/file-preview/README.md
  packages/components/file-preview/__tests__/index.spec.tsx
  packages/components/file-preview/photoswipe/index.ts
  packages/components/file-preview/preview/audio.scss
  packages/components/file-preview/preview/audio.tsx
  packages/components/file-preview/preview/video.scss
  packages/components/file-preview/preview/video.tsx
  packages/components/file-preview/style.scss
  packages/locale/__tests__/index.spec.ts
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: stylelint --fix, eslint --fix

Path conditions:
  stylelint --fix: any of: **/*.{css,scss}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx,md}
