Repository deot/vc: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

style: table, extract TableStates type and tighten column typings
  packages/components/table/store/base-watcher.ts
  packages/components/table/store/index.ts
  packages/components/table/store/utils.ts
Due: eslint --fix

fix: text, measure with hidden full text to avoid flex width collapse
  packages/components/text/__tests__/index.spec.tsx
  packages/components/text/examples/index.vue
  packages/components/text/text.tsx
Due: eslint --fix

fix: text, set flex-shrink 0 to avoid repeated measure in flexbox
  packages/components/text/__tests__/index.spec.tsx
  packages/components/text/examples/index.vue
  packages/components/text/style.scss
  packages/components/text/text.tsx
Due: stylelint --fix, eslint --fix

perf: recycle-list, chunked incremental layout to avoid O(n²) rebuild
  packages/components/recycle-list/README.md
  packages/components/recycle-list/__tests__/index.spec.tsx
  packages/components/recycle-list/recycle-list-props.ts
  packages/components/recycle-list/recycle-list.tsx
  packages/components/recycle-list/scroll-state.tsx
  packages/components/recycle-list/store/base-watcher.ts
  packages/components/recycle-list/store/layout.ts
  packages/components/recycle-list/store/local.ts
  packages/components/recycle-list/store/node.ts
  packages/components/recycle-list/store/nodes.ts
  packages/components/recycle-list/store/position.ts
  packages/components/recycle-list/store/scroll.ts
  packages/components/recycle-list/store/store.ts
  packages/components/table/table-body/table-body.tsx
Due: eslint --fix

feat: recycle-list/table, support external viewport when fill is false
  packages/components/recycle-list/README.md
  packages/components/recycle-list/__tests__/external.spec.tsx
  packages/components/recycle-list/__tests__/viewport.spec.ts
  packages/components/recycle-list/container-props.ts
  packages/components/recycle-list/container.tsx
  packages/components/recycle-list/examples/external-horizontal.vue
  packages/components/recycle-list/examples/external-scroller.vue
  packages/components/recycle-list/examples/external-window.vue
  packages/components/recycle-list/recycle-list-props.ts
  packages/components/recycle-list/recycle-list.tsx
  packages/components/recycle-list/style.scss
  packages/components/recycle-list/viewport.ts
  packages/components/table/README.md
  packages/components/table/__tests__/index.spec.tsx
  packages/components/table/examples/virtualized-scroller.vue
  packages/components/table/examples/virtualized-window.vue
  packages/components/table/table-body/table-body.tsx
  packages/components/table/table-props.ts
  packages/components/table/table.tsx
Due: stylelint --fix, eslint --fix

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/index/CHANGELOG.md
  packages/index/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  pnpm-lock.yaml
Due: eslint --fix

feat: text, add shrink prop instead of hardcoding flex-shrink 0
  packages/components/text/README.md
  packages/components/text/__tests__/index.spec.tsx
  packages/components/text/examples/index.vue
  packages/components/text/style.scss
  packages/components/text/text-props.ts
  packages/components/text/text.tsx
Due: stylelint --fix, eslint --fix

feat: upload-picker, support video/audio/file and mobile picker
  packages/components/upload-picker/README.md
  packages/components/upload-picker/__tests__/index.spec.tsx
  packages/components/upload-picker/examples/index.vue
  packages/components/upload-picker/index.m.ts
  packages/components/upload-picker/item/audio.scss
  packages/components/upload-picker/item/audio.tsx
  packages/components/upload-picker/item/file.scss
  packages/components/upload-picker/item/file.tsx
  packages/components/upload-picker/item/image.tsx
  packages/components/upload-picker/item/video.scss
  packages/components/upload-picker/item/video.tsx
  packages/components/upload-picker/mobile/item/audio.scss
  packages/components/upload-picker/mobile/item/audio.tsx
  packages/components/upload-picker/mobile/item/file.scss
  packages/components/upload-picker/mobile/item/file.tsx
  packages/components/upload-picker/mobile/item/image.scss
  packages/components/upload-picker/mobile/item/image.tsx
  packages/components/upload-picker/mobile/item/video.scss
  packages/components/upload-picker/mobile/item/video.tsx
  packages/components/upload-picker/mobile/upload-picker.scss
  packages/components/upload-picker/mobile/upload-picker.tsx
  packages/components/upload-picker/preview/audio.scss
  packages/components/upload-picker/preview/audio.tsx
  packages/components/upload-picker/preview/video.scss
  packages/components/upload-picker/preview/video.tsx
  packages/components/upload-picker/style.scss
  packages/components/upload-picker/types.ts
  packages/components/upload-picker/upload-picker-props.ts
  packages/components/upload-picker/upload-picker.tsx
  packages/components/upload-picker/use-picker.ts
  packages/components/upload-picker/utils.ts
Due: stylelint --fix, eslint --fix

feat: upload, extract cycle scheduler and shared task overlay
  packages/components/editor/__tests__/index.spec.tsx
  packages/components/editor/examples/index.vue
  packages/components/editor/extends/event-module.ts
  packages/components/upload-picker/README.md
  packages/components/upload-picker/__tests__/index.spec.tsx
  packages/components/upload-picker/examples/index.vue
  packages/components/upload-picker/index.m.ts
  packages/components/upload-picker/index.ts
  packages/components/upload-picker/mobile/upload-picker.tsx
  packages/components/upload-picker/types.ts
  packages/components/upload-picker/upload-picker-props.ts
  packages/components/upload-picker/upload-picker.tsx
  packages/components/upload-picker/use-picker.ts
  packages/components/upload/README.md
  packages/components/upload/__tests__/index.spec.tsx
  packages/components/upload/cycle/index.ts
  packages/components/upload/cycle/types.ts
  packages/components/upload/cycle/upload-cycle-leaf.ts
  packages/components/upload/cycle/upload-cycle.ts
  packages/components/upload/cycle/utils.ts
  packages/components/upload/examples/fake.vue
  packages/components/upload/examples/index.vue
  packages/components/upload/index.m.ts
  packages/components/upload/index.ts
  packages/components/upload/open.ts
  packages/components/upload/task/context.ts
  packages/components/upload/task/index.ts
  packages/components/upload/task/style.scss
  packages/components/upload/task/task.tsx
  packages/components/upload/task/types.ts
  packages/components/upload/task/utils.ts
  packages/components/upload/types.ts
  packages/components/upload/upload-props.ts
  packages/components/upload/upload.ts
  packages/components/upload/utils.ts
Due: stylelint --fix, eslint --fix

feat: locale, add language package and useLocale for i18n
  packages/components/index.ts
  packages/components/locale/__tests__/index.spec.tsx
  packages/components/locale/index.ts
  packages/components/locale/use-locale.ts
  packages/components/package.json
  packages/components/vc/__tests__/index.spec.ts
  packages/components/vc/instance.ts
  packages/components/vc/options.ts
  packages/index/__tests__/index.spec.ts
  packages/index/src/index.ts
  packages/locale/README.md
  packages/locale/__tests__/index.spec.ts
  packages/locale/package.json
  packages/locale/src/index.ts
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
  packages/locale/src/types.ts
  pnpm-lock.yaml
Due: eslint --fix

docs: add documentation site and package READMEs
  404.html
  README.md
  index.html
  package.json
  packages/components/README.md
  packages/hooks/README.md
  packages/index/README.md
  packages/shared/README.md
  pnpm-lock.yaml
Due: eslint --fix

chore: add component-audit skill and localize AGENTS.md
  .agents/skills/component-audit/SKILL.md
  .agents/skills/component-audit/agents/openai.yaml
  .agents/skills/component-audit/references/locale.md
  .agents/skills/component-audit/references/readme.md
  .agents/skills/component-audit/references/theme.md
  AGENTS.md
Due: eslint --fix

docs: action-sheet, rewrite README and theme the cancel gap
  packages/components/action-sheet/README.md
  packages/components/action-sheet/mobile/style.scss
Due: stylelint --fix, eslint --fix

docs: affix, rewrite README to match current API
  packages/components/affix/README.md
Due: eslint --fix

style: alert, move type colors to theme tokens and rewrite README
  packages/components/alert/README.md
  packages/components/alert/__tests__/index.spec.tsx
  packages/components/alert/alert.tsx
  packages/components/alert/examples/index.vue
  packages/components/alert/style.scss
Due: stylelint --fix, eslint --fix

docs: artboard, rewrite README and theme canvas border
  packages/components/artboard/README.md
  packages/components/artboard/style.scss
Due: stylelint --fix, eslint --fix

style: button, theme remaining colors, wrap icons, and rewrite README
  packages/components/button/README.md
  packages/components/button/__tests__/index.spec.tsx
  packages/components/button/button-group.scss
  packages/components/button/button.scss
  packages/components/button/button.tsx
Due: stylelint --fix, eslint --fix

feat: calendar, replace lang prop with locale and theme styles
  packages/components/calendar/README.md
  packages/components/calendar/__tests__/index.spec.tsx
  packages/components/calendar/calendar-props.ts
  packages/components/calendar/calendar.tsx
  packages/components/calendar/components.tsx
  packages/components/calendar/constants.ts
  packages/components/calendar/date2holiday.ts
  packages/components/calendar/date2holiday/index.ts
  packages/components/calendar/date2holiday/types.ts
  packages/components/calendar/examples/index.vue
  packages/components/calendar/style.scss
  packages/components/calendar/types.ts
  packages/components/calendar/utils.ts
  packages/locale/__tests__/index.spec.ts
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: stylelint --fix, eslint --fix

docs: card, rewrite README and theme border and shadow
  packages/components/card/README.md
  packages/components/card/style.scss
Due: stylelint --fix, eslint --fix

docs: carousel, rewrite README and theme
  packages/components/carousel/README.md
  packages/components/carousel/carousel-item.scss
  packages/components/carousel/carousel.scss
  packages/components/carousel/mobile/carousel-item.scss
  packages/components/carousel/mobile/carousel.scss
Due: stylelint --fix, eslint --fix

chore: ignore .pnpm-store
  .gitignore
Due: none

feat: modal, localize default buttons and theme mask color
  packages/components/modal/README.md
  packages/components/modal/__tests__/index.spec.tsx
  packages/components/modal/examples/mobile.vue
  packages/components/modal/mobile/modal-view-props.ts
  packages/components/modal/mobile/modal-view.tsx
  packages/components/modal/mobile/style.scss
  packages/components/modal/modal-view-props.ts
  packages/components/modal/modal-view.tsx
  packages/components/modal/style.scss
  packages/locale/__tests__/index.spec.ts
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: stylelint --fix, eslint --fix

docs: transition, rewrite README and scale slide offsets
  packages/components/transition/README.md
  packages/components/transition/transition-slide.scss
Due: stylelint --fix, eslint --fix

docs: message, rewrite README and theme mask color
  packages/components/message/README.md
  packages/components/message/style.scss
Due: stylelint --fix, eslint --fix

docs: icon, rewrite README to match current API
  packages/components/icon/README.md
Due: eslint --fix

feat: clipboard, localize copy success message and rewrite README
  packages/components/clipboard/README.md
  packages/components/clipboard/__tests__/index.spec.tsx
  packages/components/clipboard/use-clipboard.ts
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: eslint --fix

docs: tag, rewrite README and theme remaining colors
  packages/components/tag/README.md
  packages/components/tag/style.scss
Due: stylelint --fix, eslint --fix

docs: spin, rewrite README and theme stroke colors
  packages/components/spin/README.md
  packages/components/spin/examples/index.vue
  packages/components/spin/spin-props.ts
Due: eslint --fix

docs: text, rewrite README to match current API
  packages/components/text/README.md
Due: eslint --fix

docs: print, rewrite README to match current API
  packages/components/print/README.md
Due: eslint --fix

docs: debounce, rewrite README to match current API
  packages/components/debounce/README.md
Due: eslint --fix

docs: customer, rewrite README to match current API
  packages/components/customer/README.md
Due: eslint --fix

docs: counter, rewrite README to match current API
  packages/components/counter/README.md
Due: eslint --fix

feat: countdown, localize default format and rewrite README
  packages/components/countdown/README.md
  packages/components/countdown/__tests__/index.spec.tsx
  packages/components/countdown/countdown-props.ts
  packages/components/countdown/countdown.tsx
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: eslint --fix

fix: collapse, emit update:modelValue and rewrite README
  packages/components/collapse/README.md
  packages/components/collapse/__tests__/index.spec.tsx
  packages/components/collapse/collapse.ts
Due: eslint --fix

docs: expand, rewrite README to match current API
  packages/components/expand/README.md
Due: eslint --fix

fix: marquee, use default slot and rewrite README
  packages/components/marquee/README.md
  packages/components/marquee/__tests__/index.spec.tsx
  packages/components/marquee/marquee.tsx
Due: eslint --fix

feat: image, localize load error and theme remaining colors
  packages/components/image/README.md
  packages/components/image/__tests__/index.spec.tsx
  packages/components/image/image.tsx
  packages/components/image/style.scss
  packages/locale/__tests__/index.spec.ts
  packages/locale/src/lang/en-US.ts
  packages/locale/src/lang/zh-CN.ts
Due: stylelint --fix, eslint --fix

docs: touch, rewrite README to match current API
  packages/components/touch/README.md
Due: eslint --fix

Path conditions:
  stylelint --fix: any of: **/*.{css,scss}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx,md}
