Repository deot/vc: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "**/*.{css,scss}": [
    "stylelint --fix"
  ],
  "**/*.{js,ts,jsx,tsx,md}": [
    "eslint --fix"
  ]
}

style(components): pagination, remove the hard-coded font-family
  packages/components/pagination/style.scss
Due: stylelint --fix

style(components): form, remove the hard-coded font-family
  packages/components/form/mobile/style.scss
  packages/components/form/style.scss
Due: stylelint --fix

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/index/CHANGELOG.md
  packages/index/package.json
  pnpm-lock.yaml
Due: eslint --fix

style(components): tree, fill the missing keyValue fields with defaults - keyValue 只传部分字段时，其余字段取默认值，如 { value: 'id' } - 显式传 value: '' 仍视为没有唯一键，相关方法照旧抛错 - 字段名统一从 store 读取，去掉零散的 children 兜底
  packages/components/tree/README.md
  packages/components/tree/__tests__/index.spec.tsx
  packages/components/tree/store/tree-node.ts
  packages/components/tree/tree-node-content.tsx
  packages/components/tree/tree-props.ts
  packages/components/tree/tree.tsx
Due: eslint --fix

fix(components): recycle-list, keep the visible range right when content before an external list changes
  packages/components/package.json
  packages/components/recycle-list/README.md
  packages/components/recycle-list/__tests__/external.spec.tsx
  packages/components/recycle-list/__tests__/index.spec.tsx
  packages/components/recycle-list/hooks/use-measure.ts
  packages/components/recycle-list/recycle-list.tsx
  packages/components/recycle-list/viewport/external/index.ts
  packages/components/recycle-list/viewport/types.ts
  pnpm-lock.yaml
Due: eslint --fix

docs(components): table, add a front-content switch to the virtualized performance example
  packages/components/table/examples/virtualized-performance.vue
Due: none

fix(components): button, correct the solid styles and keep vertical group buttons the same width
  packages/components/button/README.md
  packages/components/button/__tests__/style.spec.ts
  packages/components/button/button-group.scss
  packages/components/button/button.scss
  packages/components/button/examples/index.vue
Due: stylelint --fix, eslint --fix

fix(components): style, draw the 1px border with a fractional border-width instead of transform scaling
  packages/components/style/examples/border.vue
  packages/components/style/mixins.scss
Due: stylelint --fix

docs: theme, import audit modules explicitly
  packages/components/theme/examples/theme-audit/modules.ts
Due: eslint --fix
