Repository deot/vc: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

fix: rate, apply color updates and rewrite README
  packages/components/rate/README.md
  packages/components/rate/__tests__/index.spec.tsx
  packages/components/rate/examples/index.vue
  packages/components/rate/rate-props.ts
  packages/components/rate/rate.tsx
  packages/components/rate/style.scss
Due: stylelint --fix, eslint --fix

fix: affix, read window height on every refresh
  packages/components/affix/__tests__/index.spec.tsx
  packages/components/affix/affix.tsx
Due: eslint --fix

feat: scroller, accept element barTo and add barTrigger hover area
  packages/components/scroller/README.md
  packages/components/scroller/__tests__/index.spec.tsx
  packages/components/scroller/bar-props.ts
  packages/components/scroller/bar.tsx
  packages/components/scroller/scroller-props.ts
  packages/components/scroller/scroller-wheel.tsx
  packages/components/scroller/scroller.tsx
  packages/components/scroller/track-props.ts
  packages/components/scroller/track.tsx
Due: eslint --fix

feat: table, pin horizontal scrollbar with bottom dock and fill width in fit mode
  packages/components/table/README.md
  packages/components/table/__tests__/index.spec.tsx
  packages/components/table/examples/none-height.vue
  packages/components/table/examples/virtualized-scroller.vue
  packages/components/table/examples/virtualized-window.vue
  packages/components/table/hooks/use-lazy-tail.ts
  packages/components/table/hooks/use-wheel-forward.ts
  packages/components/table/store/modules/layout.ts
  packages/components/table/table-body/table-body.tsx
  packages/components/table/table-column/table-column-node.tsx
  packages/components/table/table-header/table-header.tsx
  packages/components/table/table.scss
  packages/components/table/table.tsx
  packages/components/table/utils.ts
Due: stylelint --fix, eslint --fix

fix: table, keep dynamic column order in sync with template
  packages/components/table/README.md
  packages/components/table/__tests__/index.spec.tsx
  packages/components/table/examples/columns-dynamic.vue
  packages/components/table/store/modules/column.ts
  packages/components/table/table-column/table-column.tsx
  packages/components/table/table.tsx
Due: eslint --fix

fix: tag, only stop click propagation when checkable
  packages/components/select/__tests__/index.spec.tsx
  packages/components/tag/__tests__/index.spec.tsx
  packages/components/tag/tag.tsx
  packages/components/tree/__tests__/index.spec.tsx
Due: eslint --fix

feat: tree-select, add searchable and use Scroller for cascader columns
  packages/components/select/__tests__/index.spec.tsx
  packages/components/select/select.tsx
  packages/components/select/utils.ts
  packages/components/tree/README.md
  packages/components/tree/__tests__/index.spec.tsx
  packages/components/tree/examples/index.vue
  packages/components/tree/tree-select-content-cascader.tsx
  packages/components/tree/tree-select-content.tsx
  packages/components/tree/tree-select.scss
  packages/components/tree/tree-select.tsx
Due: stylelint --fix, eslint --fix

feat: form, add clear and support excludeFields
  packages/components/form/README.md
  packages/components/form/__tests__/index.spec.tsx
  packages/components/form/examples/index.vue
  packages/components/form/use-form-item.ts
  packages/components/form/use-form.ts
Due: eslint --fix

feat: table, add filter-options and size, clean up legacy code
  packages/components/table/README.md
  packages/components/table/__tests__/index.spec.tsx
  packages/components/table/examples/filter.vue
  packages/components/table/examples/size.vue
  packages/components/table/examples/sticky-grid-native.vue
  packages/components/table/hooks/use-props-sync.ts
  packages/components/table/hooks/use-scroll-sync.ts
  packages/components/table/hooks/use-wheel-forward.ts
  packages/components/table/store/base-watcher.ts
  packages/components/table/store/modules/block.ts
  packages/components/table/store/modules/column.ts
  packages/components/table/store/modules/layout.ts
  packages/components/table/store/modules/selection.ts
  packages/components/table/store/store.ts
  packages/components/table/style.scss
  packages/components/table/table-body/table-body-block.tsx
  packages/components/table/table-body/table-body.tsx
  packages/components/table/table-column/table-column-config.tsx
  packages/components/table/table-column/table-column-node.tsx
  packages/components/table/table-column/table-column-props.ts
  packages/components/table/table-footer/table-footer.tsx
  packages/components/table/table-header/table-filter.scss
  packages/components/table/table-header/table-filter.tsx
  packages/components/table/table-header/table-header.tsx
  packages/components/table/table-props.ts
  packages/components/table/table.scss
  packages/components/table/table.tsx
  packages/components/table/types.ts
  packages/components/table/utils.ts
Due: stylelint --fix, eslint --fix

docs: chart, rewrite README to match current API
  packages/components/chart/README.md
Due: eslint --fix

feat: table, add header-line for multi-line header labels
  packages/components/table/README.md
  packages/components/table/__tests__/header-line.spec.tsx
  packages/components/table/__tests__/index.spec.tsx
  packages/components/table/examples/header-line.vue
  packages/components/table/hooks/use-text-line-tooltip.ts
  packages/components/table/table-body/table-body-block.tsx
  packages/components/table/table-column/table-column-config.tsx
  packages/components/table/table-column/table-column-node.tsx
  packages/components/table/table-column/table-column-props.ts
  packages/components/table/table-header/table-header.tsx
  packages/components/table/table.scss
  packages/components/table/table.tsx
  packages/components/vc/options.ts
Due: stylelint --fix, eslint --fix

fix: scroller, sync ScrollerWheel position on external scroll when native=false
  packages/components/scroller/README.md
  packages/components/scroller/__tests__/index.spec.tsx
  packages/components/scroller/scroller-wheel.tsx
  packages/components/scroller/scroller.tsx
Due: eslint --fix

chore: preload, set demo body font stack
  packages/preload.ts
Due: eslint --fix

refactor: scroller, add Bar mode and pin ScrollerWheel tracks with sticky
  packages/components/scroller/README.md
  packages/components/scroller/__tests__/index.spec.tsx
  packages/components/scroller/bar-props.ts
  packages/components/scroller/bar.tsx
  packages/components/scroller/scroller-wheel.tsx
  packages/components/scroller/track.scss
Due: stylelint --fix, eslint --fix

refactor: affix, pin with sticky when fixed is false
  packages/components/affix/README.md
  packages/components/affix/__tests__/index.spec.tsx
  packages/components/affix/affix.tsx
  packages/components/affix/style.scss
  packages/components/scroller/__tests__/index.spec.tsx
  packages/components/scroller/use-scroller.ts
  packages/components/scroller/utils.ts
  packages/components/table/table.scss
  packages/components/tabs/__tests__/index.spec.tsx
  packages/components/tabs/use-tabs.ts
Due: stylelint --fix, eslint --fix

refactor: scroller, flatten Scroller to a single scroll container
  packages/components/modal/__tests__/index.spec.tsx
  packages/components/scroller/README.md
  packages/components/scroller/__tests__/index.spec.tsx
  packages/components/scroller/bar-props.ts
  packages/components/scroller/bar.tsx
  packages/components/scroller/scroller-wheel.scss
  packages/components/scroller/scroller-wheel.tsx
  packages/components/scroller/scroller.scss
  packages/components/scroller/scroller.tsx
  packages/components/scroller/track.scss
  packages/components/scroller/use-scroller.ts
  packages/components/select/select.scss
  packages/components/table/examples/virtualized-scroller.vue
Due: stylelint --fix, eslint --fix

refactor: scroller, drive by wheel prop, remove ScrollerWheel and vc-scroller__wrapper
  packages/components/affix/README.md
  packages/components/affix/__tests__/index.spec.tsx
  packages/components/affix/affix.tsx
  packages/components/affix/examples/scroller.vue
  packages/components/recycle-list/README.md
  packages/components/recycle-list/__tests__/external.spec.tsx
  packages/components/recycle-list/__tests__/index.spec.tsx
  packages/components/recycle-list/__tests__/viewport.spec.ts
  packages/components/recycle-list/hooks/use-direction-keys.ts
  packages/components/recycle-list/recycle-list-props.ts
  packages/components/recycle-list/recycle-list.tsx
  packages/components/recycle-list/style.scss
  packages/components/recycle-list/viewport/external/carrier.ts
  packages/components/recycle-list/viewport/external/index.ts
  packages/components/recycle-list/viewport/inner/index.ts
  packages/components/recycle-list/viewport/types.ts
  packages/components/recycle-list/viewport/viewport.ts
  packages/components/scroller/README.md
  packages/components/scroller/__tests__/index.spec.tsx
  packages/components/scroller/examples/memo.vue
  packages/components/scroller/examples/wheel-dynamic.vue
  packages/components/scroller/examples/wheel.vue
  packages/components/scroller/index.ts
  packages/components/scroller/scroller-props.ts
  packages/components/scroller/scroller-wheel.scss
  packages/components/scroller/scroller-wheel.tsx
  packages/components/scroller/scroller.scss
  packages/components/scroller/scroller.tsx
  packages/components/scroller/style.scss
  packages/components/scroller/use-scroller.ts
  packages/components/scroller/use-wheel.ts
  packages/components/scroller/utils.ts
  packages/components/table/__tests__/index.spec.tsx
  packages/components/table/table-body/table-body.tsx
  packages/components/tabs/__tests__/index.spec.tsx
Due: stylelint --fix, eslint --fix

chore: deps updated
  package.json
  packages/components/package.json
  pnpm-lock.yaml
Due: none

fix: icon, remove pending listener on unmount and type change
  packages/components/icon/__tests__/index.spec.tsx
  packages/components/icon/icon.tsx
  packages/components/icon/manager.ts
Due: eslint --fix

feat: select, fold tags by width and maxTagLines with hover popovers
  packages/components/popover/use-hover-popover.ts
  packages/components/select/README.md
  packages/components/select/__tests__/index.spec.tsx
  packages/components/select/examples/max-tags.vue
  packages/components/select/select-props.ts
  packages/components/select/select-tags.scss
  packages/components/select/select-tags.tsx
  packages/components/select/select.scss
  packages/components/select/select.tsx
  packages/components/select/style.scss
  packages/components/select/utils.ts
  packages/components/table/hooks/use-text-line-tooltip.ts
  packages/components/tree/README.md
  packages/components/tree/__tests__/index.spec.tsx
  packages/components/tree/examples/tree-select-tags.vue
  packages/components/tree/style.scss
  packages/components/tree/tree-select.scss
  packages/components/tree/tree-select.tsx
Due: stylelint --fix, eslint --fix

fix: popover, nested popup click area, trigger removal and refit on resize/scroll
  packages/components/popover/README.md
  packages/components/popover/__tests__/index.spec.tsx
  packages/components/popover/examples/hover-timer.vue
  packages/components/popover/examples/nested.vue
  packages/components/popover/examples/position.vue
  packages/components/popover/popover.tsx
  packages/components/popover/use-pos.ts
  packages/components/popover/utils.ts
  packages/components/popover/wrapper.scss
  packages/components/popover/wrapper.tsx
  packages/components/select/__tests__/index.spec.tsx
Due: stylelint --fix, eslint --fix

fix: select, pass portal to Popover in Select, TreeSelect, Cascader and DatePicker
  packages/components/cascader/README.md
  packages/components/cascader/__tests__/index.spec.tsx
  packages/components/cascader/cascader.tsx
  packages/components/cascader/examples/portal.vue
  packages/components/date-picker/README.md
  packages/components/date-picker/__tests__/index.spec.tsx
  packages/components/date-picker/examples/portal.vue
  packages/components/date-picker/picker/base.tsx
  packages/components/select/README.md
  packages/components/select/__tests__/index.spec.tsx
  packages/components/select/examples/portal.vue
  packages/components/select/select.tsx
  packages/components/tree/README.md
  packages/components/tree/__tests__/index.spec.tsx
  packages/components/tree/examples/tree-select-portal.vue
  packages/components/tree/tree-select.tsx
Due: eslint --fix

fix: text, open full-text popover on mouseenter with root as trigger
  packages/components/text/README.md
  packages/components/text/__tests__/index.spec.tsx
  packages/components/text/examples/popover.vue
  packages/components/text/text.tsx
Due: eslint --fix

fix: portal, release popup references on destroy
  packages/components/popover/use-hover-popover.ts
  packages/components/portal/__tests__/index.spec.tsx
  packages/components/portal/portal.ts
  packages/components/text/text.tsx
Due: eslint --fix

fix: table, size and anchor truncation tooltips, pause them while scrolling
  packages/components/table/README.md
  packages/components/table/__tests__/header-line.spec.tsx
  packages/components/table/examples/ellipsis-tooltip.vue
  packages/components/table/hooks/use-text-line-tooltip.ts
  packages/components/table/table-body/table-body-block.tsx
  packages/components/table/table-header/table-header.tsx
Due: eslint --fix

fix: popover, keep popups within the viewport and close hover popups on container scroll
  packages/components/popover/README.md
  packages/components/popover/__tests__/index.spec.tsx
  packages/components/popover/examples/size.vue
  packages/components/popover/popover.tsx
  packages/components/popover/use-pos.ts
  packages/components/popover/utils.ts
  packages/components/popover/wrapper.scss
  packages/components/popover/wrapper.tsx
  packages/components/style/theme.scss
Due: stylelint --fix, eslint --fix

fix: portal, stop alive reuse from appending empty containers and fix memory examples
  packages/components/portal/README.md
  packages/components/portal/__tests__/index.spec.tsx
  packages/components/portal/examples/memory-alive.vue
  packages/components/portal/examples/memory-basic.vue
  packages/components/portal/examples/memory-native.vue
  packages/components/portal/examples/memory-portal.vue
  packages/components/portal/examples/memory-transition-native.vue
  packages/components/portal/examples/memory-transition-portal.vue
  packages/components/portal/portal-leaf.ts
  packages/components/portal/portal.ts
Due: eslint --fix

Path conditions:
  stylelint --fix: any of: **/*.{css,scss}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx,md}
