Repository deot/vc: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

feat: input, enter event with number keyboard
  packages/components/input/use-input.ts
Due: eslint --fix

feat: clipboard, initial commit
  packages/components/clipboard/clipboard-props.ts
  packages/components/clipboard/clipboard.ts
  packages/components/clipboard/examples/mobile.vue
  packages/components/clipboard/index.m.ts
  packages/components/clipboard/index.ts
  packages/components/clipboard/mobile/clipboard.ts
  packages/components/clipboard/style.scss
  packages/components/clipboard/use-clipboard.ts
  packages/components/clipboard/utils.ts
Due: stylelint --fix, eslint --fix

style: popover, extract method
  packages/components/popover/index.ts
  packages/components/popover/popover.tsx
Due: eslint --fix

style: drawer/modal/notice/message/toast, merge methods to component
  packages/components/drawer/drawer.ts
  packages/components/drawer/examples/index.vue
  packages/components/drawer/examples/popup/wrapper.vue
  packages/components/drawer/index.m.ts
  packages/components/drawer/index.ts
  packages/components/message/index.ts
  packages/components/message/message.ts
  packages/components/modal/examples/mobile.vue
  packages/components/modal/examples/popup/wrapper.vue
  packages/components/modal/index.ts
  packages/components/modal/mobile/modal-view.tsx
  packages/components/modal/mobile/modal.ts
  packages/components/modal/modal.ts
  packages/components/notice/index.ts
  packages/components/notice/notice.ts
  packages/components/toast/index.m.ts
  packages/components/toast/mobile/toast.ts
Due: eslint --fix

feat: pagination, initial commit
  packages/components/index.ts
  packages/components/page/__tests__/index.spec.tsx
  packages/components/page/examples/index.vue
  packages/components/page/index.m.ts
  packages/components/page/index.ts
  packages/components/page/page-props.ts
  packages/components/page/page.tsx
  packages/components/page/style.scss
  packages/components/pagination/README.md
  packages/components/pagination/__tests__/index.spec.tsx
  packages/components/pagination/examples/index.vue
  packages/components/pagination/index.m.ts
  packages/components/pagination/index.ts
  packages/components/pagination/pagination-props.ts
  packages/components/pagination/pagination.tsx
  packages/components/pagination/style.scss
  packages/components/style/mixins.scss
  packages/index/src/index.ts
Due: stylelint --fix, eslint --fix

feat: modal/drawer, use scroller for content
  packages/components/drawer/drawer-view.tsx
  packages/components/drawer/examples/index.vue
  packages/components/drawer/style.scss
  packages/components/modal/examples/popup/wrapper.vue
  packages/components/modal/modal-view.tsx
  packages/components/modal/style.scss
  packages/components/resizer/resizer.ts
  packages/components/scroller/scroller-wheel.tsx
  packages/components/scroller/scroller.tsx
  packages/components/scroller/use-scroller.ts
Due: stylelint --fix, eslint --fix

feat: tag, initial commit
  packages/components/tag/README.md
  packages/components/tag/examples/index.vue
  packages/components/tag/style.scss
  packages/components/tag/tag-props.ts
  packages/components/tag/tag.tsx
Due: stylelint --fix, eslint --fix

feat: select, initial commit
  packages/components/input/use-input.ts
  packages/components/select/examples/basic/data.js
  packages/components/select/examples/index.vue
  packages/components/select/option-group-props.ts
  packages/components/select/option-group.scss
  packages/components/select/option-group.tsx
  packages/components/select/option-props.ts
  packages/components/select/option.scss
  packages/components/select/option.tsx
  packages/components/select/select-props.ts
  packages/components/select/select.scss
  packages/components/select/select.tsx
  packages/components/select/style.scss
  packages/components/select/utils.ts
Due: stylelint --fix, eslint --fix

fix: pagination/select, basic
  packages/components/pagination/pagination.tsx
  packages/components/select/select-props.ts
  packages/components/select/select.tsx
  packages/components/tag/tag.tsx
Due: eslint --fix

docs: transition memory leak tip
  packages/components/popover/popover.tsx
  packages/components/portal/examples/memory-basic.vue
  packages/components/portal/examples/memory-native.vue
  packages/components/portal/examples/memory-transition-native.vue
  packages/components/portal/examples/memory-transition-portal.vue
  packages/components/select/examples/index.vue
  packages/components/transition/README.md
  packages/components/transition/use-transition.ts
Due: eslint --fix

fix: select, test error
  packages/components/checkbox/use-checkbox-group.ts
  packages/components/radio/use-radio-group.ts
  packages/components/select/select-props.ts
  packages/components/select/select.tsx
Due: eslint --fix

feat: ⚠️ select/input-number, return `undefined` when clear value
  packages/components/input/README.md
  packages/components/input/__tests__/input-number.spec.tsx
  packages/components/input/examples/input-number.vue
  packages/components/input/examples/input.vue
  packages/components/input/input-number-props.ts
  packages/components/input/input-props.ts
  packages/components/input/use-input-number.ts
  packages/components/input/use-input.ts
  packages/components/select/README.md
  packages/components/select/examples/multiple-string.vue
  packages/components/select/examples/multiple.vue
  packages/components/select/examples/single.vue
  packages/components/select/option.tsx
  packages/components/select/select-props.ts
  packages/components/select/select.tsx
Due: eslint --fix

feat: upload, initial commit
  packages/components/upload/README.md
  packages/components/upload/examples/index.vue
  packages/components/upload/index.ts
  packages/components/upload/types.ts
  packages/components/upload/upload-props.ts
  packages/components/upload/upload.ts
  packages/components/upload/upload.tsx
  packages/components/upload/utils.ts
Due: eslint --fix

feat: upload, source -> target
  packages/components/upload/types.ts
  packages/components/upload/upload.ts
Due: eslint --fix

feat: progress, initial commit
  packages/components/progress/README.md
  packages/components/progress/circle.tsx
  packages/components/progress/examples/index.vue
  packages/components/progress/line.tsx
  packages/components/progress/progress-props.ts
  packages/components/progress/progress.tsx
  packages/components/progress/style.scss
Due: stylelint --fix, eslint --fix

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/index/CHANGELOG.md
  packages/index/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  pnpm-lock.yaml
Due: eslint --fix

fix: progress, showText used
  packages/components/progress/circle.tsx
Due: eslint --fix

feat: drawer/modal, expose as component
  packages/index/src/index.ts
Due: eslint --fix

style: date-picker, add type & merge style & nullValue
  packages/components/date-picker/README.md
  packages/components/date-picker/constants.ts
  packages/components/date-picker/examples/develop.vue
  packages/components/date-picker/helper/utils.ts
  packages/components/date-picker/panel/base/style/confirm.scss
  packages/components/date-picker/panel/base/style/date-header.scss
  packages/components/date-picker/panel/base/style/date-table.scss
  packages/components/date-picker/panel/base/style/index.scss
  packages/components/date-picker/panel/base/style/month-table.scss
  packages/components/date-picker/panel/base/style/quarter-table.scss
  packages/components/date-picker/panel/base/style/shortcuts-select.scss
  packages/components/date-picker/panel/base/style/time-select.scss
  packages/components/date-picker/panel/base/style/year-table.scss
  packages/components/date-picker/panel/style/date-range.scss
  packages/components/date-picker/panel/style/date.scss
  packages/components/date-picker/panel/style/index.scss
  packages/components/date-picker/panel/style/month-range.scss
  packages/components/date-picker/panel/style/quarter-range.scss
  packages/components/date-picker/panel/style/time-range.scss
  packages/components/date-picker/panel/style/time.scss
  packages/components/date-picker/picker/base-props.ts
  packages/components/date-picker/picker/base.scss
  packages/components/date-picker/picker/base.tsx
  packages/components/date-picker/picker/use-base.ts
  packages/components/date-picker/style.scss
Due: stylelint --fix, eslint --fix

feat: upload, onResponse(request.reponseText -> request)
  packages/components/upload/examples/index.vue
  packages/components/upload/upload.ts
Due: eslint --fix

fix: modal, get height failed when transition
  packages/components/modal/examples/index.vue
  packages/components/modal/modal-view.tsx
Due: eslint --fix

fix: date-picker/time-picker, expose conflict
  packages/components/date-picker/picker/base.tsx
  packages/components/date-picker/picker/date-picker.tsx
  packages/components/date-picker/picker/time-picker.tsx
Due: eslint --fix

feat: recycle-list, scrollTo force mode
  packages/components/recycle-list/recycle-list.tsx
  packages/components/recycle-list/style.scss
Due: stylelint --fix, eslint --fix

feat: scroller, stopPropagation prop & track style inherit
  packages/components/scroller/scroller-wheel.tsx
  packages/components/scroller/track.tsx
Due: eslint --fix

feat: table, initial commit
  packages/components/table/examples/index.vue
  packages/components/table/index.ts
  packages/components/table/store/base-watcher.ts
  packages/components/table/store/current-mixin.ts
  packages/components/table/store/expand-mixin.ts
  packages/components/table/store/index.ts
  packages/components/table/store/layout.ts
  packages/components/table/store/store.ts
  packages/components/table/store/tree-mixin.ts
  packages/components/table/store/use-states.ts
  packages/components/table/style.scss
  packages/components/table/table-body.tsx
  packages/components/table/table-column-confg.tsx
  packages/components/table/table-column.tsx
  packages/components/table/table-footer.tsx
  packages/components/table/table-header.tsx
  packages/components/table/table-props.ts
  packages/components/table/table.tsx
  packages/components/table/utils.ts
Due: stylelint --fix, eslint --fix

feat: table, ⚠️some props changed
  packages/components/sort-list/README.md
  packages/components/table/README.md
  packages/components/table/examples/index.vue
  packages/components/table/index.m.ts
  packages/components/table/store/base-watcher.ts
  packages/components/table/store/current-mixin.ts
  packages/components/table/store/expand-mixin.ts
  packages/components/table/store/store.ts
  packages/components/table/store/tree-mixin.ts
  packages/components/table/table-body.tsx
  packages/components/table/table-props.ts
  packages/components/table/table.tsx
  packages/index/src/index.ts
Due: eslint --fix

style: table, variables change
  packages/components/table/examples/max-height.vue
  packages/components/table/examples/none-height.vue
  packages/components/table/store/base-watcher.ts
  packages/components/table/store/layout.ts
  packages/components/table/store/store.ts
  packages/components/table/table-body.tsx
  packages/components/table/table-footer.tsx
  packages/components/table/table-header.tsx
  packages/components/table/table.tsx
Due: eslint --fix

feat: table, max-height/none-height supported
  packages/components/table/normal-list/index.ts
  packages/components/table/normal-list/normal-list.tsx
  packages/components/table/table-body.tsx
Due: eslint --fix

fix: scroller/recycle-list, unmounted error
  packages/components/recycle-list/examples/basic.vue
  packages/components/recycle-list/recycle-list.tsx
  packages/components/scroller/track.tsx
Due: eslint --fix

perf: table, pre computation
  packages/components/table/examples/index.vue
  packages/components/table/examples/max-height.vue
  packages/components/table/store/base-watcher.ts
  packages/components/table/store/current-mixin.ts
  packages/components/table/store/expand-mixin.ts
  packages/components/table/store/layout.ts
  packages/components/table/store/store.ts
  packages/components/table/store/tree-mixin.ts
  packages/components/table/store/utils.ts
  packages/components/table/table-body.tsx
  packages/components/table/table-column-confg.tsx
  packages/components/table/table-column.tsx
  packages/components/table/table-footer.tsx
  packages/components/table/table-header.tsx
  packages/components/table/table-props.ts
  packages/components/table/table.tsx
  packages/components/table/utils.ts
Due: eslint --fix

feat: table, expose selected & data changed reactive
  packages/components/recycle-list/recycle-list.tsx
  packages/components/table/examples/index.vue
  packages/components/table/examples/max-height.vue
  packages/components/table/normal-list/normal-list.tsx
  packages/components/table/store/store.ts
  packages/components/table/table-body.tsx
  packages/components/table/table-column-confg.tsx
  packages/components/table/table-column.tsx
  packages/components/table/table-header.tsx
  packages/components/table/table.tsx
Due: eslint --fix

style: theme color changed
  packages/components/alert/alert.tsx
  packages/components/alert/style.scss
  packages/components/button/button-group.scss
  packages/components/button/button.scss
  packages/components/button/examples/index.vue
  packages/components/checkbox/checkbox.scss
  packages/components/color-picker/README.md
  packages/components/notice/README.md
  packages/components/popconfirm/README.md
  packages/components/progress/README.md
  packages/components/progress/progress-props.ts
  packages/components/progress/style.scss
  packages/components/radio/radio.scss
  packages/components/select/option.scss
  packages/components/style/theme.scss
  packages/components/tabs/README.md
  packages/components/timeline/README.md
Due: stylelint --fix, eslint --fix

style: input height & border color changed
  packages/components/date-picker/picker/base.scss
  packages/components/input/input-number.scss
  packages/components/input/input-search.scss
  packages/components/input/input.scss
  packages/components/select/select.scss
  packages/components/style/theme.scss
Due: stylelint --fix

style: modal/drawer, title/border changed
  packages/components/drawer/style.scss
  packages/components/modal/examples/index.vue
  packages/components/modal/modal-view-props.ts
  packages/components/modal/modal-view.tsx
  packages/components/modal/style.scss
  packages/components/style/theme.scss
Due: stylelint --fix, eslint --fix

Path conditions:
  stylelint --fix: any of: **/*.{css,scss}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx,md}
