Repository deot/vc: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

test: upload, add comprehensive test cases covering lifecycle, validation and drag-drop
  packages/components/upload/__tests__/index.spec.tsx
Due: eslint --fix

test: snapshot, add test cases covering lifecycle, toDataURL and download
  packages/components/snapshot/__tests__/index.spec.tsx
Due: eslint --fix

test: rate, add test cases covering rendering, click, half, clearable and hover
  packages/components/rate/__tests__/index.spec.tsx
Due: eslint --fix

test: radio, add test cases covering rendering, disabled, change events and group behavior
  packages/components/radio/__tests__/index.spec.tsx
Due: eslint --fix

test: checkbox, add test cases covering rendering, disabled, change events and group behavior
  packages/components/checkbox/__tests__/index.spec.tsx
Due: eslint --fix

test: card, add test cases covering border, shadow, padding, title, icon and slots
  packages/components/card/__tests__/index.spec.tsx
Due: eslint --fix

test: button, add test cases covering solid, dashed, slots, hover and group behavior
  packages/components/button/__tests__/index.spec.tsx
Due: eslint --fix

test: tag, add test cases covering color, type, closable, checkable and events
  packages/components/tag/__tests__/index.spec.tsx
Due: eslint --fix

test: form, add test cases covering reset, validateField, getField, label, required, error and nesting
  packages/components/form/__tests__/index.spec.tsx
Due: eslint --fix

test: switch, add test cases covering toggle, disabled, events, slots, loading and mobile
  packages/components/switch/__tests__/index.spec.tsx
Due: eslint --fix

test: chart, add test cases covering options, theme, group, events, resize and lifecycle
  packages/components/chart/__tests__/index.spec.tsx
Due: eslint --fix

test: clipboard, add test cases covering tag, slot, copy events, error, utils and mobile
  packages/components/clipboard/__tests__/index.spec.tsx
Due: eslint --fix

test: popconfirm, add test cases covering title, content, slots, icon, buttons and events
  packages/components/popconfirm/__tests__/index.spec.tsx
Due: eslint --fix

test: pagination, add test cases covering count, paging, jump, sizer, elevator and events
  packages/components/pagination/__tests__/index.spec.tsx
Due: eslint --fix

test: collapse, add test cases covering modelValue, accordion, toggle, icon slot, alive and dynamic items
  packages/components/collapse/__tests__/index.spec.tsx
Due: eslint --fix

test: textarea, add test cases covering v-model, indicator, maxlength, bytes, events, composition, controllable, autosize and resize
  packages/components/textarea/__tests__/index.spec.tsx
Due: eslint --fix

test: dropdown, add test cases covering menu, item, trigger, v-model, events and click interactions
  packages/components/dropdown/__tests__/index.spec.tsx
Due: eslint --fix

test: drawer, add test cases covering rendering, placement, close logic, ok/cancel, footer, slots, style pass-through and static open/destroy
  packages/components/drawer/__tests__/index.spec.tsx
Due: eslint --fix

test: notice, add test cases covering rendering, close logic, duration, expose and static methods
  packages/components/notice/__tests__/index.spec.tsx
Due: eslint --fix

test: toast, add test cases covering rendering, close logic, duration, expose and static methods
  packages/components/toast/__tests__/index.spec.tsx
Due: eslint --fix

refactor: table, manage columns via class-based TableColumnNode with reactive states
  packages/components/table/README.md
  packages/components/table/__tests__/index.spec.tsx
  packages/components/table/store/base-watcher.ts
  packages/components/table/store/modules/block.ts
  packages/components/table/store/modules/column.ts
  packages/components/table/store/modules/index.ts
  packages/components/table/store/modules/layout.ts
  packages/components/table/store/modules/row.ts
  packages/components/table/store/modules/tree.ts
  packages/components/table/store/store.ts
  packages/components/table/store/use-states.ts
  packages/components/table/store/utils.ts
  packages/components/table/table-body/table-body-block.tsx
  packages/components/table/table-body/table-body.tsx
  packages/components/table/table-body/table-expand.tsx
  packages/components/table/table-column/index.ts
  packages/components/table/table-column/table-column-confg.tsx
  packages/components/table/table-column/table-column-node.tsx
  packages/components/table/table-column/table-column-props.ts
  packages/components/table/table-column/table-column.tsx
  packages/components/table/table-footer/table-footer.tsx
  packages/components/table/table-grid/table-grid.tsx
  packages/components/table/table-header/table-header.tsx
  packages/components/table/table-props.ts
  packages/components/table/table.tsx
  packages/components/table/types.ts
  packages/components/table/utils.ts
Due: eslint --fix

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/index/CHANGELOG.md
  packages/index/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  pnpm-lock.yaml
Due: eslint --fix

refactor: table, lazy build merge cells on render window entry
  packages/components/table/__tests__/index.spec.tsx
  packages/components/table/store/base-watcher.ts
  packages/components/table/store/modules/block.ts
  packages/components/table/table-body/table-body-block.tsx
Due: eslint --fix

docs: README updated
  README.md
Due: eslint --fix

feat: color-picker, initial commit
  packages/components/color-picker/README.md
  packages/components/color-picker/__tests__/index.spec.tsx
  packages/components/color-picker/alpha.scss
  packages/components/color-picker/alpha.tsx
  packages/components/color-picker/color-picker-props.ts
  packages/components/color-picker/color-picker.scss
  packages/components/color-picker/color-picker.tsx
  packages/components/color-picker/color.ts
  packages/components/color-picker/constants.ts
  packages/components/color-picker/examples/index.vue
  packages/components/color-picker/hue-slider.scss
  packages/components/color-picker/hue-slider.tsx
  packages/components/color-picker/index.m.ts
  packages/components/color-picker/index.ts
  packages/components/color-picker/panel.scss
  packages/components/color-picker/panel.tsx
  packages/components/color-picker/picker-view-props.ts
  packages/components/color-picker/picker-view.tsx
  packages/components/color-picker/predefine.scss
  packages/components/color-picker/predefine.tsx
  packages/components/color-picker/style.scss
  packages/components/color-picker/use-draggable.ts
Due: stylelint --fix, eslint --fix

feat: calendar, initial commit
  packages/components/calendar/README.md
  packages/components/calendar/__tests__/index.spec.tsx
  packages/components/calendar/calendar-props.ts
  packages/components/calendar/calendar.tsx
  packages/components/calendar/components.tsx
  packages/components/calendar/constants.ts
  packages/components/calendar/date2holiday.ts
  packages/components/calendar/examples/index.vue
  packages/components/calendar/style.scss
  packages/components/calendar/types.ts
  packages/components/calendar/utils.ts
Due: stylelint --fix, eslint --fix

feat: sort-list, initial commit
  packages/components/sort-list/README.md
  packages/components/sort-list/__tests__/index.spec.tsx
  packages/components/sort-list/examples/index.vue
  packages/components/sort-list/index.m.ts
  packages/components/sort-list/mobile/sort-list.tsx
  packages/components/sort-list/mobile/style.scss
  packages/components/sort-list/sort-list-props.ts
  packages/components/sort-list/sort-list.tsx
  packages/components/sort-list/style.scss
  packages/components/sort-list/use-sort-list.ts
Due: stylelint --fix, eslint --fix

feat: slider, initial commit
  packages/components/slider/__tests__/index.spec.tsx
  packages/components/slider/examples/index.vue
  packages/components/slider/slider-props.ts
  packages/components/slider/slider.tsx
  packages/components/slider/style.scss
  packages/components/slider/utils.ts
Due: stylelint --fix, eslint --fix

feat: picker, initial commit
  packages/components/picker/README.md
  packages/components/picker/__tests__/index.spec.tsx
  packages/components/picker/examples/index.vue
  packages/components/picker/index.m.ts
  packages/components/picker/index.ts
  packages/components/picker/mobile/picker-col.scss
  packages/components/picker/mobile/picker-col.tsx
  packages/components/picker/mobile/picker-core.tsx
  packages/components/picker/mobile/picker-popup-props.ts
  packages/components/picker/mobile/picker-popup.scss
  packages/components/picker/mobile/picker-popup.tsx
  packages/components/picker/mobile/picker-props.ts
  packages/components/picker/mobile/picker-view-props.ts
  packages/components/picker/mobile/picker-view.scss
  packages/components/picker/mobile/picker-view.tsx
  packages/components/picker/mobile/picker.scss
  packages/components/picker/mobile/picker.tsx
  packages/components/picker/mobile/style.scss
  packages/components/picker/mobile/utils.ts
  packages/components/picker/picker-props.ts
  packages/components/picker/picker.tsx
  packages/components/picker/style.scss
  packages/components/picker/types.ts
  packages/index/src/index.ts
Due: stylelint --fix, eslint --fix

feat: touch, initial commit
  packages/components/touch/README.md
  packages/components/touch/__tests__/index.spec.tsx
  packages/components/touch/examples/index.vue
  packages/components/touch/index.m.ts
  packages/components/touch/index.ts
  packages/components/touch/mobile/style.scss
  packages/components/touch/mobile/touch-props.ts
  packages/components/touch/mobile/touch.tsx
  packages/components/touch/style.scss
  packages/components/touch/touch.tsx
Due: stylelint --fix, eslint --fix

feat: date-picker/m, initial commit
  packages/components/date-picker/README.md
  packages/components/date-picker/__tests__/mobile.spec.tsx
  packages/components/date-picker/examples/mobile.vue
  packages/components/date-picker/index.m.ts
  packages/components/date-picker/mobile/date-picker-core.tsx
  packages/components/date-picker/mobile/date-picker-props.ts
  packages/components/date-picker/mobile/date-picker-view-props.ts
  packages/components/date-picker/mobile/date-picker-view.tsx
  packages/components/date-picker/mobile/date-picker.tsx
  packages/components/date-picker/mobile/utils.ts
  packages/components/form/mobile/style.scss
  packages/components/picker/index.ts
  packages/components/picker/mobile/picker-col.scss
  packages/index/src/index.ts
Due: stylelint --fix, eslint --fix

test: editor, add test cases covering rendering, events, toolbar, upload, EditorView and extends
  packages/components/editor/__tests__/index.spec.tsx
Due: eslint --fix

feat: modal/mobile, actions -> data
  packages/components/modal/README.md
  packages/components/modal/__tests__/index.spec.tsx
  packages/components/modal/examples/mobile.vue
  packages/components/modal/mobile/modal-view-props.ts
  packages/components/modal/mobile/modal-view.tsx
Due: eslint --fix

feat: action-sheet, initial commit
  packages/components/action-sheet/README.md
  packages/components/action-sheet/__tests__/index.spec.tsx
  packages/components/action-sheet/action-sheet-props.ts
  packages/components/action-sheet/action-sheet.tsx
  packages/components/action-sheet/examples/index.vue
  packages/components/action-sheet/index.m.ts
  packages/components/action-sheet/index.ts
  packages/components/action-sheet/mobile/action-sheet-props.ts
  packages/components/action-sheet/mobile/action-sheet.tsx
  packages/components/action-sheet/mobile/style.scss
  packages/components/action-sheet/style.scss
Due: stylelint --fix, eslint --fix

chore: deps updated(jsdom/canvas)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: image-crop, initial commit
  packages/components/image-crop/README.md
  packages/components/image-crop/__tests__/index.spec.tsx
  packages/components/image-crop/examples/index.vue
  packages/components/image-crop/examples/mobile.vue
  packages/components/image-crop/image-crop-props.ts
  packages/components/image-crop/image-crop.tsx
  packages/components/image-crop/style.scss
  packages/components/image-crop/utils.ts
Due: stylelint --fix, eslint --fix

test: chart/artboard/image-crop, use real canvas context
  packages/components/artboard/__tests__/index.spec.tsx
  packages/components/chart/__tests__/index.spec.tsx
  packages/components/image-crop/__tests__/index.spec.tsx
Due: eslint --fix

feat: image-processor, initial commit
  packages/components/image-crop/utils.ts
  packages/components/image-processing/README.md
  packages/components/image-processing/__tests__/index.spec.tsx
  packages/components/image-processing/examples/index.vue
  packages/components/image-processing/image-processing-props.ts
  packages/components/image-processing/image-processing.tsx
  packages/components/image-processing/index.m.ts
  packages/components/image-processing/index.ts
  packages/components/image-processing/style.scss
  packages/components/image-processor/README.md
  packages/components/image-processor/__tests__/index.spec.tsx
  packages/components/image-processor/examples/index.vue
  packages/components/image-processor/image-processor-props.ts
  packages/components/image-processor/image-processor.tsx
  packages/components/image-processor/index.m.ts
  packages/components/image-processor/index.ts
  packages/components/image-processor/style.scss
  packages/components/index.ts
  packages/index/src/index.ts
Due: stylelint --fix, eslint --fix

refactor: recycle-list, lazy build local data by batchSize
  packages/components/recycle-list/README.md
  packages/components/recycle-list/__tests__/index.spec.tsx
  packages/components/recycle-list/examples/basic.vue
  packages/components/recycle-list/examples/columns.vue
  packages/components/recycle-list/examples/data-source.vue
  packages/components/recycle-list/examples/horizontal.vue
  packages/components/recycle-list/examples/inverted-skeleton.vue
  packages/components/recycle-list/examples/inverted.vue
  packages/components/recycle-list/examples/less-screen.vue
  packages/components/recycle-list/examples/memo.vue
  packages/components/recycle-list/examples/operate.vue
  packages/components/recycle-list/examples/shared-store.vue
  packages/components/recycle-list/examples/skeleton.vue
  packages/components/recycle-list/recycle-list-props.ts
  packages/components/recycle-list/recycle-list.tsx
  packages/components/recycle-list/store.ts
  packages/components/recycle-list/use-direction-keys.ts
  packages/components/table/examples/index.vue
  packages/components/table/table-body/table-body.tsx
  packages/components/table/table-props.ts
Due: eslint --fix

style: recycle-list, manage items via class-based RecycleListItemNode
  packages/components/recycle-list/__tests__/index.spec.tsx
  packages/components/recycle-list/recycle-list.tsx
  packages/components/recycle-list/store/base-watcher.ts
  packages/components/recycle-list/store/index.ts
  packages/components/recycle-list/store/node.ts
  packages/components/recycle-list/store/store.ts
Due: eslint --fix

Path conditions:
  stylelint --fix: any of: **/*.{css,scss}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx,md}
