Repository deot/vc: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "**/*.{css,scss}": [
    "stylelint --fix"
  ],
  "**/*.{js,ts,jsx,tsx,md}": [
    "eslint --fix"
  ]
}

feat: drawer/modal, contentStyle & height
  packages/components/drawer/drawer-view-props.ts
  packages/components/drawer/drawer-view.tsx
  packages/components/modal/examples/index.vue
  packages/components/modal/modal-view-props.ts
  packages/components/modal/modal-view.tsx
Due: eslint --fix

style: form, changed
  packages/components/form/examples/index.vue
  packages/components/form/form-item-props.ts
  packages/components/form/form-item.tsx
  packages/components/form/style.scss
  packages/components/form/use-form-item.ts
Due: stylelint --fix, eslint --fix

feat: table, add divider prop & border changed
  packages/components/table/examples/none-height.vue
  packages/components/table/style.scss
  packages/components/table/table-props.ts
  packages/components/table/table.tsx
Due: stylelint --fix, eslint --fix

fix: table, gap offset
  packages/components/table/table-column-confg.tsx
Due: eslint --fix

chore(release): publish
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/index/CHANGELOG.md
  packages/index/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  pnpm-lock.yaml
Due: eslint --fix

style: input, text-align inherit
  packages/components/input/input.scss
Due: stylelint --fix

docs: drawer/modal, updated
  packages/components/drawer/README.md
  packages/components/modal/README.md
  packages/components/modal/examples/index.vue
  packages/components/modal/modal-view-props.ts
  packages/components/modal/modal-view.tsx
Due: eslint --fix

fix: progress, keep full(>100)
  packages/components/progress/progress.tsx
Due: eslint --fix

feat: tabs, bar margin & custom style/class
  packages/components/tabs/README.md
  packages/components/tabs/tabs-props.ts
  packages/components/tabs/tabs.scss
  packages/components/tabs/tabs.tsx
Due: stylelint --fix, eslint --fix

feat: button, slot.icon
  packages/components/button/README.md
  packages/components/button/button.tsx
Due: eslint --fix

feat: form, label-position default from parent
  packages/components/form/examples/index.vue
  packages/components/form/form-item-props.ts
  packages/components/form/use-form-item.ts
  packages/components/form/use-form.ts
Due: eslint --fix

feat: form, error highlight
  packages/components/checkbox/checkbox.scss
  packages/components/checkbox/examples/index.vue
  packages/components/checkbox/examples/mobile.vue
  packages/components/checkbox/use-checkbox.ts
  packages/components/form/examples/index.vue
  packages/components/input/input.scss
  packages/components/input/use-input.ts
  packages/components/radio/examples/mobile.vue
  packages/components/radio/radio-group.scss
  packages/components/radio/radio-group.tsx
  packages/components/radio/radio.scss
  packages/components/radio/use-radio.ts
  packages/components/textarea/style.scss
  packages/components/textarea/use-textarea.ts
Due: stylelint --fix, eslint --fix

feat: image-preview/upload-picker, initial commit
  packages/components/image-preview/examples/index.vue
  packages/components/image-preview/index.ts
  packages/components/image-preview/photoswipe/index.ts
  packages/components/image-preview/style.scss
  packages/components/image-preview/third.scss
  packages/components/package.json
  packages/components/upload-picker/examples/index.vue
  packages/components/upload-picker/upload-picker-props.ts
  packages/components/upload-picker/upload-picker.tsx
  packages/components/upload-picker/use-picker.ts
  packages/components/upload-picker/utils.ts
  pnpm-lock.yaml
Due: stylelint --fix, eslint --fix

feat: upload-picker/image, support image upload
  packages/components/image/README.md
  packages/components/image/examples/index.vue
  packages/components/image/image-props.ts
  packages/components/image/image.tsx
  packages/components/image/style.scss
  packages/components/upload-picker/examples/index.vue
  packages/components/upload-picker/item/image.scss
  packages/components/upload-picker/item/image.tsx
  packages/components/upload-picker/style.scss
  packages/components/upload-picker/upload-picker.scss
  packages/components/upload-picker/upload-picker.tsx
Due: stylelint --fix, eslint --fix

style: switch changed
  packages/components/switch/style.scss
Due: stylelint --fix

feat: switch, width/height/border supported
  packages/components/form/examples/index.vue
  packages/components/switch/examples/index.vue
  packages/components/switch/style.scss
  packages/components/switch/switch-props.ts
  packages/components/switch/switch.tsx
Due: stylelint --fix, eslint --fix

feat: form, remove margin-bottom when hide error message
  packages/components/form/examples/index.vue
  packages/components/form/style.scss
  packages/components/form/use-form-item.ts
Due: stylelint --fix, eslint --fix

style: ⚠️keep `32px` height
  packages/components/checkbox/checkbox-group.scss
  packages/components/checkbox/checkbox.scss
  packages/components/radio/radio.scss
Due: stylelint --fix

style: table, use `13px` font-size default
  packages/components/table/style.scss
Due: stylelint --fix

feat: table, column(style/class)
  packages/components/table/examples/max-height.vue
  packages/components/table/style.scss
  packages/components/table/table-body.tsx
  packages/components/table/table-column-confg.tsx
  packages/components/table/table-column.tsx
  packages/components/table/table-header.tsx
Due: stylelint --fix, eslint --fix

fix: text, calc the maximum value of overflow
  packages/components/text/text.tsx
  packages/components/text/utils.ts
Due: eslint --fix

feat: table, replace `<Text />` to native
  packages/components/table/examples/max-height.vue
  packages/components/table/style.scss
  packages/components/table/table-body.tsx
  packages/components/table/table-column-confg.tsx
  packages/components/table/table-column.tsx
Due: stylelint --fix, eslint --fix

fix: popover, invoke `setPopupStyle` with debounce
  packages/components/popover/wrapper.tsx
Due: eslint --fix

feat: dropdown/popconfirm, initial commit
  packages/components/dropdown/README.md
  packages/components/dropdown/dropdown-item.tsx
  packages/components/dropdown/dropdown-menu.tsx
  packages/components/dropdown/dropdown-props.ts
  packages/components/dropdown/dropdown.tsx
  packages/components/dropdown/examples/index.vue
  packages/components/dropdown/index.m.ts
  packages/components/dropdown/index.ts
  packages/components/dropdown/style.scss
  packages/components/popconfirm/README.md
  packages/components/popconfirm/__tests__/index.spec.tsx
  packages/components/popconfirm/examples/index.vue
  packages/components/popconfirm/popconfirm-props.ts
  packages/components/popconfirm/popconfirm.tsx
  packages/components/popconfirm/style.scss
  packages/index/src/index.ts
Due: stylelint --fix, eslint --fix

fix: input, listeners inherit for content
  packages/components/input/README.md
  packages/components/input/examples/input.vue
  packages/components/input/input.tsx
Due: eslint --fix

feat: modal, x,y supported
  packages/components/modal/README.md
  packages/components/modal/examples/index.vue
  packages/components/modal/modal-view-props.ts
  packages/components/modal/modal-view.tsx
Due: eslint --fix

fix: table, set line by global
  packages/components/table/table-body.tsx
  packages/components/table/table-column-confg.tsx
  packages/components/table/table-column.tsx
  packages/components/text/utils.ts
Due: eslint --fix

style: table, popover's placement set top default
  packages/components/table/table-body.tsx
Due: eslint --fix

fix: form, use next-tick before validate
  packages/components/form/examples/next-tick.vue
  packages/components/form/use-form-item.ts
Due: eslint --fix

fix: resizer, emit -> emits
  packages/components/recycle-list/recycle-list.tsx
  packages/components/resizer/resizer.ts
  packages/components/table/normal-list/normal-list.tsx
Due: eslint --fix

feat: scroller, expose delegate options
  packages/components/scroller/use-scroller.ts
Due: eslint --fix
